@{
    var item = Model.Parameters["Data"];
}
<form id="dataform" class="form-dialog" method="post">
    <div class="edit-dialog1">
        <div class="edit-panel-w2">
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">产品编号：</label>
                </div>
                <div class="edit-content">
                    <input name="ProductID" value="@item["ProductID"]" class="edit-input easyui-textbox" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">产品名称：</label>
                </div>
                <div class="edit-content">
                    <input name="ProductName" value="@item["ProductName"]" class="edit-input easyui-textbox" data-options="required:true,missingMessage:'请输入产品名称',invalidMessage:'产品名称不能大于50',validType:'length[1,50]'" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">产品类型：</label>
                </div>
                <div class="edit-content">
                    <input name="ProductTypeID" value="@item["ProductTypeID"]" class="easyui-combotree edit-input " data-options="required:true,missingMessage:'请选择产品类型',url:'/Share/Query?name=GetProductTypeParentID&resultformat=jsontree&root=P001&pid=ParentID&id=ProductTypeID&text=ProductType',method:'get',idField:'ProductTypeID',textField:'ProductType'" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">产品单位：</label>
                </div>
                <div class="edit-content">
                    <input name="Unit" id="Unit" class="edit-input easyui-combobox" data-options="missingMessage:'请选择单位',editable:false,url:'/Share/GetSystemCodes?code=C047',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'" value="@item["Unit"]" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label"></label>
                </div>
                <div class="edit-content">
                    @{
                        string IsBiOrder = bool.Parse(item["IsBiOrder"]) ? "checked=\"checked\"" : "";
                    }
                    <input name="IsBiOrder" id="IsBiOrder" type="checkbox" value="1" @IsBiOrder /><label for="IsBiOrder">允许商务下单</label>
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label"></label>
                </div>
                <div class="edit-content">
                    @{
                        string IsSeOrder = bool.Parse(item["IsSeOrder"]) ? "checked=\"checked\"" : "";
                    }
                    <input name="IsSeOrder" id="IsSeOrder" type="checkbox" value="1" @IsSeOrder /><label for="IsSeOrder">允许客服下单</label>
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">供应商：</label>
                </div>
                <div class="edit-content">
                    <input name="SupplierID" value="@item["SupplierID"]" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择供应商',editable:false,url:'/Share/Query?name=GetSupplier',method:'get',valueField:'SupplierID',textField:'SupplierNAME'"> </input>
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">状态：</label>
                </div>
                <div class="edit-content">
                    <input name="PState" value="@item["PState"]" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择状态',editable:false,url:'/Share/GetSystemCodes?code=C065',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'"> </input>
                </div>
            </div>

            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">显示排序：</label>
                </div>
                <div class="edit-content">
                    <input name="SortID" value="@item["SortID"]" class="edit-input easyui-numberspinner" data-options="required:true,missingMessage:'请输入显示排序',min:0" />
                </div>
            </div>
            <div class="edit-field-w2">
                <div class="edit-title">
                    <label class="edit-label">备注：</label>
                </div>
                <div class="edit-content-w2">
                    <input name="Remark" value="@item["Remark"]" class="edit-input easyui-textbox" style="height:90px;width:444px;" data-options="invalidMessage:'备注不能大于200',validType:'length[1,200]',multiline:true" />
                </div>
            </div>
            <div class="edit-field">
                <div class="showmsg">
                    <label id="showmsg"></label>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="toolbar" class="dialog-button">
    <a id="btn-update" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGUpdate('dataform','/Page/P01064/Update','datagrid')">确定 </a>
    <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消 </a>
</div>


