<style>
    .edit-panel3 {
        padding: 5px 0px;
        margin-top: 5px;
        width: 580px !important;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .edit-field-w3 {
        width: 520px;
        height: 48px;
        float: left;
        padding: 0px 0px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .edit-field, .edit-field-w3 {
        padding-left: 25px;
    }
</style>
@{var item = Model.Parameters["Data"];}
<script type="text/javascript">
    function Update(datagrid, result, form) {
        showMessage("更新成功");
        $("#" + datagrid).datagrid("reload");
    }
    $(function () {
        $("#SubSupplierID").combobox({
            onSelect: function (rec) {
                $("#SubProductID").combobox({
                    url: '/Share/Query?name=GetProduct&SupplierID=' + rec.SupplierID,
                    onLoadSuccess: function () {
                        $('#SubProductID').combobox('setValue', '');
                    }
                });
            }
        });

        $("#SubUnitPrice,#Qty").numberbox({
            onChange: function (newValue, oldValue) {
                $("#SubPrice").numberbox("setValue", parseFloat($("#SubUnitPrice").numberbox('getValue')) * parseInt($("#Qty").numberbox('getValue')))
            }
        })
    });
    function addClick() {
        cancleClickRow();
        $("#datagrid1").datagrid("unselectAll");
        $('#EDelBtn').linkbutton('disable');//删除按钮不可用
    }
    function delClick() {
        $.extend($.messager.defaults, {
            ok: "确定", cancel: "取消"
        })
        $.messager.confirm("提示", "确认删除当前产品？", function (r) {
            if (r) {
                $('#EDelBtn').linkbutton('disable');//删除不按钮可用
                var url = "/Page/P01064/DeleteSubProduct?Key=" + $("#AutoKey").val() + "&&ID=" + $("#ProductID").val();
                funcForAct(url);
            }
        })
    }
    function onClickRow(rowIndex, rowData) {
        $('#SubSupplierID').combobox('setValue', rowData['SupplierID']);
        $('#SubProductID').combobox({
            url: '/Share/Query?name=GetProduct&SupplierID=' + rowData['SupplierID'],
            onLoadSuccess: function () {
                $('#SubProductID').combobox('setValue', rowData['SubProductID']);
            }
        });
        $('#SubUnitPrice').textbox('setValue', rowData['SubUnitPrice']);
        $('#SubUnit').combobox('setValue', rowData['Unit']);
        $('#Qty').textbox('setValue', rowData['Qty']);
        $('#SubPrice').textbox('setValue', rowData['Price']);
        $("#AutoKey").val(rowData['AutoKey'])
        $('#EDelBtn').linkbutton('enable');//删除按钮可用

    }
    function cancleClickRow(rowIndex, rowData) {
        $('#SubSupplierID,#SubUnit').combobox('setValue', '');
        $("#SubProductID").combobox('clear');
        $('#SubUnitPrice,#SubPrice').textbox('setValue', '');
        $('#Qty').textbox('setValue', 1);
        // $('#Remark').textbox('setValue', '');
        $("#AutoKey").val("");
    }
    function funcForAct(url) {
        var data = {
            ProductID: $("#ProductID").val(), SubProductID: $("#SubProductID").combobox('getValue'), SubUnitPrice: $("#SubUnitPrice").numberbox('getValue'),
            SubUnit: $("#SubUnit").combobox('getValue'), Qty: $("#Qty").numberbox('getValue'),
            SubPrice: $("#SubPrice").numberbox('getValue'), AutoKey: $("#AutoKey").val()
        };
        $.ajax({
            url: url,
            type: "post",
            data: data,
            dataType: "json",
            success: function (result) {
                if (result.HasError) {
                    showError(result.ErrorMessage);
                    if (result.ErrorMessage == '新增成功！' || result.ErrorMessage == '更新成功！' || result.ErrorMessage == '删除成功！') {
                        $('#datagrid1').datagrid('reload');
                        $('#datagrid1').datagrid({
                            onLoadSuccess: function () {
                                var UniProce = 0;
                                var rows = $('#datagrid1').datagrid('getRows');
                                for (var i = 0; i < rows.length; i++) {
                                    UniProce += parseFloat(rows[i]["Price"]);
                                }
                                var row = $("#datagrid").datagrid('getRows');
                                var rowindex = 0;
                                for (i = 0; i < row.length; i++) {
                                    if (row[i]["ProductID"] == $("#ProductID").val()) {
                                        rowindex = i;
                                        break;
                                    }
                                }
                                $("#UnitPrice").numberbox('setValue', UniProce);
                                $("#datagrid").datagrid('updateRow', { index: rowindex, row: { UnitPrice: UniProce.toFixed(2) } })
                            }
                        });
                        cancleClickRow();
                    }
                }
                else {
                    showError(result.ErrorMessage);
                }
            },
            error: function (d, error) {
                showError(error);
            }
        });
    }
    function Submit() {
        if ($("#SubSupplierID").combobox('isValid') && $("#SubProductID").combobox('isValid') && $("#SubUnitPrice").textbox('isValid') && $("#SubUnit").combobox('isValid')) {
            var rows = $("#datagrid1").datagrid('getSelections');
            var url = "";
            if (rows.length > 0) {
                url = "/Page/P01064/UpdateSubProduct";
            } else { url = "/Page/P01064/AddSubProduct"; }
            funcForAct(url);
        }
    }
    function funForAppendProduct(datagrid, result) {
        showMessage("新增成功");
        $("#" + datagrid).datagrid("reload");
        $("#ProductID").val(result.Data[0].ProductID);
        //  $("#datagrid1").datagrid({ url: '/Page/P01064/GetSubProduct?ProductID=' + $("#ProductID").val() })
    }
    function submitAct_DGAppendProduct(form, url, datagrid) {
        if ($("#ProductName").textbox('isValid') && $("#SupplierID").combobox('isValid') && $("#SortID").textbox('isValid') && $("#PState").textbox('isValid')) {
            if ($("#ProductID").val() == "") {
                var data = {
                    ProductName: $("#ProductName").textbox('getValue'), ProductTypeID: $("#ProductTypeID").combobox('getValue'),
                    UnitPrice: $("#UnitPrice").textbox('getValue'), SupplierID: $("#SupplierID").combobox('getValue'),
                    SortID: $("#SortID").textbox('getValue'), PState: $("#PState").combobox('getValue'), Remark: $("#Remark").textbox('getValue'),
                    IsBiOrder: $("#IsBiOrder").is(":checked") ? "1" : "0", IsSeOrder: $("#IsSeOrder").is(":checked") ? "1" : "0"
                };
                funcForAjaxNoValid(url, "post", data, "datagrid", funForAppendProduct);
            }
            else {
                var data = {
                    ProductID: $("#ProductID").val(),
                    ProductName: $("#ProductName").textbox('getValue'), ProductTypeID: $("#ProductTypeID").combobox('getValue'),
                    UnitPrice: $("#UnitPrice").textbox('getValue'), SupplierID: $("#SupplierID").combobox('getValue'),
                    SortID: $("#SortID").textbox('getValue'), PState: $("#PState").combobox('getValue'), Remark: $("#Remark").textbox('getValue'),
                    IsBiOrder: $("#IsBiOrder").is(":checked") ? "1" : "0", IsSeOrder: $("#IsSeOrder").is(":checked") ? "1" : "0"
                };
                funcForAjaxNoValid('/Page/P01064/UpdateProduct', "post", data, datagrid, Update);
            }

        }
    }
</script>

<form id="dataform" class="form-dialog" method="post">
    <div class="edit-dialog1">
        <div class="edit-panel-w2" style="width:600px; ">
            <div class="easyui-panel" title="套餐信息" data-options="" style="height: 250px !important; width: 600px;">
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">产品名称：</label>
                    </div>
                    <div class="edit-content">
                        <input name="ProductID" id="ProductID" class="edit-input" type="hidden" value="@item["ProductID"]" />
                        <input name="ProductName" id="ProductName" value="@item["ProductName"]" class="edit-input easyui-textbox" data-options="required:true,missingMessage:'请输入产品名称',invalidMessage:'产品名称不能大于50',validType:'length[1,50]'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">产品类型：</label>
                    </div>
                    <div class="edit-content">
                        <input name="ProductTypeID" id="ProductTypeID" value="P024" class="easyui-combotree edit-input " data-options="required:true,missingMessage:'请选择产品类型',url:'/Share/Query?name=GetProductTypeParentID&resultformat=jsontree&root=P001&pid=ParentID&id=ProductTypeID&text=ProductType',method:'get',idField:'ProductTypeID',textField:'ProductType'" readonly="readonly" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">套餐总价：</label>
                    </div>
                    <div class="edit-content">
                        <input name="UnitPrice" id="UnitPrice" value="@item["UnitPrice"]" class="edit-input easyui-numberbox" style="width:165px;" data-options="precision:2,min:0" readonly="readonly" /><label style="margin:0px;padding-left:5px;">元</label>

                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">供应商：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SupplierID" id="SupplierID" value="@item["SupplierID"]" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择供应商',editable:false,url:'/Share/Query?name=GetSupplier',method:'get',valueField:'SupplierID',textField:'SupplierNAME'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label"></label>
                    </div>
                    <div class="edit-content">
                        @{
                            string IsBiOrder = bool.Parse(item["IsBiOrder"]) ? "checked=\"checked\"" : "";
                        }
                        <input name="IsBiOrder" id="IsBiOrder" type="checkbox" value="1" @IsBiOrder /><label for="IsBiOrder">允许商务下单</label>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label"></label>
                    </div>
                    <div class="edit-content">
                        @{
                            string IsSeOrder = bool.Parse(item["IsSeOrder"]) ? "checked=\"checked\"" : "";
                        }
                        <input name="IsSeOrder" id="IsSeOrder" type="checkbox" value="1" @IsSeOrder /><label for="IsSeOrder">允许客服下单</label>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">显示排序：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SortID" id="SortID" class="edit-input easyui-numberspinner" value="@item["SortID"]" data-options="required:true,missingMessage:'请输入显示排序',min:0" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">状态：</label>
                    </div>
                    <div class="edit-content">
                        <input name="PState" id="PState" value="@item["PState"]" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择状态',editable:false,url:'/Share/GetSystemCodes?code=C065',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'" />
                    </div>
                </div>
                <div class="edit-field-w3">
                    <div class="edit-title">
                        <label class="edit-label">备注：</label>
                    </div>
                    <div class="edit-content-w2">
                        <input name="Remark" id="Remark" value="@item["Remark"]" class="edit-input easyui-textbox" style="height:50px;width:469px;" data-options="invalidMessage:'备注不能大于200',validType:'length[1,200]',multiline:true" />
                    </div>
                </div>
                <div style="float:right;padding:5px 32px 5px 0px;">
                    <a id="btn-add" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGAppendProduct('dataform', '/Page/P01064/AddProduct', 'datagrid')">确定 </a>
                </div>
            </div>
        </div>
        <div class="edit-panel-w2" style="width:600px; ">
            <div class="easyui-panel" title="子产品信息" data-options="" style="height:310px !important;width:600px;">
                <div class="edit-panel3" style="height:110px;width:510px;">
                    <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01064/GetSubProduct?ProductID=@item["ProductID"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,singleSelect:true,striped: true,collapsible: false,resizable:true, onSelect: onClickRow,onUnselect: cancleClickRow">
                        <thead>
                            <tr>
                                <th data-options="field:'AutoKey',hidden:true,halign:'center'">Autokey</th>
                                <th data-options="field:'SupplierNAME',fixed:true,halign:'center'">供应商</th>
                                <th data-options="field:'ProductName',fixed:true,halign:'center'">产品名称</th>
                                <th data-options="field:'SubUnitPrice',fixed:true,halign:'center',align:'right'">套餐单价</th>
                                <th data-options="field:'Qty',fixed:true,halign:'center',align:'right'">数量</th>
                                <th data-options="field:'Price',fixed:true,halign:'center',align:'right'">套餐价格(元)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="padding-left:10px;">
                    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-add'" href="javascript:void(0)" onclick="addClick()">新增</a>
                    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel',disabled:true" onclick="delClick()" id="EDelBtn">删除</a>
                </div>

                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">供应商：</label>
                    </div>
                    <div class="edit-content">
                        <input name="AutKey" id="AutoKey" class="edit-input" type="hidden" />
                        <input name="SubSupplierID" id="SubSupplierID" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择供应商',editable:false,url:'/Share/Query?name=GetSupplier',method:'post',valueField:'SupplierID',textField:'SupplierNAME'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">产品名称：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SubProductID" id="SubProductID" class="edit-input easyui-combobox" data-options="required:true,missingMessage:'请选择产品名称',editable:false,url:'',method:'post',valueField:'ProductID',textField:'ProductName'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">套餐单价：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SubUnitPrice" id="SubUnitPrice" class="edit-input easyui-numberbox" style="width:110px;" data-options="precision:2,required:true,missingMessage:'请输入单价',min:0" /><label style="margin:0px;padding-left:5px;">元/</label>
                        <input name="SubUnit" id="SubUnit" class="edit-input easyui-combobox" style="width:47px;" data-options="required:true,missingMessage:'请选择单位',editable:false,url:'/Share/GetSystemCodes?code=C047',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">数量：</label>
                    </div>
                    <div class="edit-content">
                        <input name="Qty" id="Qty" class="edit-input easyui-numberbox" value="1" data-options="required:true,missingMessage:'请输入数量',min:1" />
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title">
                        <label class="edit-label">套餐价格：</label>
                    </div>
                    <div class="edit-content">
                        <input name="SubPrice" id="SubPrice" class="edit-input easyui-numberbox" style="width:165px;" data-options="precision:2,min:0" /> 元
                    </div>
                </div>
                <div style="float:right;padding:40px 20px 5px 0px;">
                    <a id="btn-add" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="Submit()">确定 </a>
                </div>
            </div>
        </div>
        <div class="edit-panel-w2" style="width:600px; ">
            <div class="edit-field">
                <div class="showmsg">
                    <label id="showmsg"></label>
                </div>
            </div>
        </div>
    </div>

</form>
<div id="toolbar" class="dialog-button">
    <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭 </a>
</div>

