

@{
    var item = Model.Parameters["Data"];
    
    }
<script type="text/javascript">

    function addClick() {
        cancleClickRow();
        $('#EDelBtn').linkbutton('disable');//删除按钮不可用
        $("#datagrid1").datagrid("unselectAll");
    }
    function delClick() {
        $.extend($.messager.defaults, {
            ok: "确定", cancel: "取消"
        })
        $.messager.confirm("提示","确认删除选择项？", function (r) {
            if (r) {
                $("#DeleteCheck").val('on');//删除checkbox选中
                $('#EDelBtn').linkbutton('disable');//删除不按钮可用
                Submit();//执行
            }
        })
    }
    function onClickRow(rowIndex, rowData) {
        $('#AutoKey').textbox('setValue', rowData['AutoKey']);
        $('#JCName').textbox('setValue', rowData['JCName']);
        $('#Remark').textbox('setValue', rowData['Remark']);
        $('#EDelBtn').linkbutton('enable');//删除按钮可用
        //$('.edit-field1:eq(11)').show();
    }
    function cancleClickRow(rowIndex, rowData) {
        $('#JCName').textbox('setValue', '');
        $('#Remark').textbox('setValue', '');
        $("#DeleteCheck").val('');//删除checkbox取消选中
        $('#EDelBtn').linkbutton('disable');//删除不按钮可用
        //$('.edit-field1:eq(11)').hide();
    }
    function Submit() {
        if ($("#dataform").form('validate')) {
            $.ajax({
                url: "/Page/P01076/TiaoliUpdate",
                type: "post",
                data: $("#dataform").serialize(),
                dataType: "json",
                success: function (result) {
                    if (result.HasError) {
                        showError(result.ErrorMessage);
                        if (result.ErrorMessage == '新增成功！' || result.ErrorMessage == '更新成功！' || result.ErrorMessage == '删除成功！') {
                            $('#datagrid1').datagrid('reload');
                            cancleClickRow();
                        }
                    }
                    else {
                    }
                },
                error: function (d, error) {
                    showError(error);
                }
            });
        }
    }

    function showdvDialog1(url, title, width, height) {
        var boarddiv = "<div id=dvMain_org1></div>";
        $(document.body).append(boarddiv);
        $("#dvMain_org1").dialog({
            title: title,
            shadow: false,
            closed: false,
            cache: false,
            href: url,
            modal: true,
            width: width,
            height: height,
            onLoadSuccess: function (data) {
                $(":input:eq(0)").focus();
            },
            onLoad: function () {
                
                //$(".datebox :text").attr("readonly", "readonly");
                $("#dvMain_org1").dialog('center');//居中
                //$('.easyui-textbox:first').combobox().next('span').find('input').focus()//通用设置第一个input焦点
                //$(".easyui-filebox[readonly!='readonly']:first").next('span').find('input').focus()//.combobox()会把第一个变成combobox，是失误还是有特别的用意？加入只读过滤  --杨磊 2014-9-18
            }
        });
    }

    function dvcancel1() {
        $("#dvMain_org1").dialog('close');
        $("#dvMain_org1").children().remove();
       
        //$(".combo-panel").hide();
    }
</script>

<style>
    .edit-panel3 {
    padding:5px 0px;
    margin-top:5px;
    width:530px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    }
</style>

<form method="post" id="dataform" class="form-dialog">

    <div class="edit-dialog1" style="width:530px;margin-left:-50px;">

        @*<div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">公司：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Name"]" readonly="readonly" />
                    <input value="@item["JCID"]" reado readonly="readonly" type="hidden" name="JCID" id="JCID" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">类型：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["JCType"]" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">名称：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["JCName"]" readonly="readonly" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">奖惩金额：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["JCAmont"]" readonly="readonly" />
                </div>
            </div>

        </div>*@

        <div class="edit-panel3" style="height:110px;width:434px; margin-top:-14px;text-align:left;">
            <table id="datagrid1" style=" text-align:left; height:110px;width:434px;" class="easyui-datagrid" data-options="url:'/Page/P01076/GetTiaoli?JCID=@item["JCID"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,singleSelect:true,striped: true,collapsible: false,resizable:true, onSelect: onClickRow,onUnselect: cancleClickRow">
                <thead>
                    <tr>
                        <th data-options="field:'AutoKey',checkbox:true,hidden:true"></th>
                        <th data-options="field:'JCName',fixed:true,">奖惩条例</th>
                        <th data-options="field:'Remark',fixed:true,">备注</th>
                    </tr>
                </thead>
            </table>

        </div>
        <a class="easyui-linkbutton edit-button" style="margin-left:70px" data-options="iconCls:'icon-add'" href="javascript:void(0)" onclick="addClick()">新增</a>
        <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel',disabled:true" onclick="delClick()" id="EDelBtn">删除</a>
        <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-add'" href="javascript:" onclick="showdvDialog1('/Page/P01076/Import?JCID=@item["JCID"]' , '导入', 300, 200)">导入</a>
       

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">奖惩条例：</label></div>
                <div class="edit-content">
                    <input id="JCName" class="edit-input easyui-textbox " name="JCName" style="width:434px;" data-options="missingMessage:'请输入奖惩条例',required:true,validType:'length[1,200]',invalidMessage:'奖惩条例不得超过200个字符'" />
                </div>
            </div>
        </div>


        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title"><label class="edit-label">备注：</label></div>
                <div class="edit-content">
                    <input id="Remark" class="edit-input easyui-textbox" name="Remark" style="width:434px;height:60px" data-options="validType:'length[1,200]',invalidMessage:'备注不得超过200个字符',multiline:true" />
                </div>
            </div>
            <div class="edit-panel3">
                <div class="edit-field1">
                    <div class="edit-content">
                        <input class="edit-input" name="DeleteCheck" id="DeleteCheck" type="hidden" />
                    </div>
                </div>
                <div class="edit-field1" style="margin-top:30px;">
                    <div class="showmsg"><label id="showmsg"></label></div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="Submit()">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>


