@*----------------------------------------------------------------
    // Copyright (C) 2004 清风软件
    // 版权所有。
    //
    // 文件名：Fl010.cshtml
    // 文件功能描述：签核记录视图
    //----------------------------------------------------------------*@
@section Header
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dg").jqGrid({
                url: '/Approve/ApproveFlow',
                datatype: 'json',
                colNames: ['公司名称', '部门', '职位', '姓名', '签核状态'],
                colModel: [
                { name: 'CompanyName', index: 'CompanyName' },

                { name: 'DepartmentName', index: 'DepartmentName' },
                { name: 'JobName', index: 'JobName' },
                { name: 'EmployeeName', index: 'EmployeeName' },
                {
                    name: 'Confirm_Stat', index: 'Confirm_Stat', width: 80, formatter: function (value, rowData, rowIndex) {
                        var text = "";
                        switch (value) {
                            case "S": text = "送签"; break;
                            case "X": text = "待签"; break;
                            case "A": text = "签核"; break;
                            case "R": text = "驳回"; break;
                            case "L": text = "通知"; break;
                            case "O": text = "结单"; break;
                        }
                        return text;
                    }
                }],
                postData: { Key: $("#Key").val(),DataTableName: $("#DataTableName").val() }
                
            });
        });
    </script>
    <style>
        body {
        background-color:white}
    </style>
}
<form id="form" method="post">
    <div style="width:70%" >
        <h3 class="row-fluid header smaller lighter green">单据详情</h3>
        <iframe id="template" name="template" width="100%" scrolling="no" frameborder="0" src="@ViewBag.TemplateUrl"></iframe>
        @if (ViewData["Attachment"].ToString() != "")
        {
            <div style="padding:5px 5px 5px 5px;font-size:16px;"><a href="@ViewBag.Attachment" target="_blank">附件查看</a></div>
        }
        @Html.Hidden("Key")
        @Html.Hidden("DataTableName")
        @Html.Hidden("CompanyID")
        @MvcHtmlString.Create(ViewData["values"].ToString())
    </div>
    <div style="width:70%">
        <h3 class="row-fluid header smaller lighter purple">签核进度</h3>
        <table id="dg" title="签核记录" style="height:auto"></table>
    </div>

    <div class="easyui-panel" style="margin-left:200px">
        <button type="button" style="margin-top:15px;margin-left:100px;" class="btn  btn-warning " onclick="location.href = QueryString('page') + '?status=' + QueryString('status') + '&table=' + QueryString('table');"><i class="icon-undo"></i>返回</button>
    </div>
  </form>
