@model IEnumerable<Panasia.Core.App.Menu>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
    function changepassword() {
        //$("#dialog3").dialog({
        //    title: '修改密码',
        //    shadow: false,
        //    closed: false,
        //    cache: false,
        //    autoOpen: false,
        //    href:"/Page/P01019/ChangePassword",
        //    modal: true,
        //    width:300,
        //    height: 500,
        //    onLoad: function () {
        //        $(".datebox :text").attr("readonly", "readonly");
        //        $("#" + id).dialog('center');},
        //    onLoadError: function () {
        //        $(this).dialog('close');
        //        $.messager.alert("提示", "访问页面错误，请稍后重试！");
        //    }
        //});
        showActDlg('修改密码', '/User/ChangePassword', 400, 300, 'dialog')
    }
    
    function message() {
        addTab('消息中心', '/Page/P01088/Index')
    };
    function personalinformation(){
        addTab('个人基本信息','/Page/P01019/Index')
    }

    $(function () {
        $('#selectComBox').combobox({
            onSelect: function () {
            }
        });

        $(".topnav").each(function () {
            if ($(this).children().length == 0) {
                $("#btn" + $(this)[0].id).attr("disabled", true);
            }
        });
        $("button:enabled:first").click();

        $("#mg").click(function () {
            if ($(".dropdowndiv").css('display')=='none') {
                $(".dropdowndiv").show();
            } else {
                $(".dropdowndiv").hide();
            }
        })
    });
        $(function Disable() {
            if ($("#btnbi").prop("disabled")) {
                $("#bi").attr("src", "Content/Images/appbar.man.suitcase.fast.d.png")
            } else {
                $("#bi").attr("src", "Content/Images/appbar.man.suitcase.fast.png")
            }
            if ($("#btnhr").prop("disabled")) {
                $("#hr").attr("src", "Content/Images/appbar.team.d.png")
            } else {
                $("#hr").attr("src", "Content/Images/appbar.team.png")
            }
            if ($("#btnmyinfo").prop("disabled")) {
                $("#myinfo").attr("src", "Content/Images/appbar.people.profile.d.png")
            } else {
                $("#myinfo").attr("src", "Content/Images/appbar.people.profile.png")
            }
            if ($("#btnfd").prop("disabled")) {
                $("#fd").attr("src", "Content/Images/appbar.calendar.dollar.d.png")
            } else {
                $("#fd").attr("src", "Content/Images/appbar.calendar.dollar.png")
            }
        });

        function Append(id)
        {
            $("button").attr("class", "btn btn-normal")
            for (var j = $("#accordion").accordion('panels').length; j > 0; j--)
            {
                $('#accordion').accordion('remove',0);
            }
            var nav = $("div[id='" + id.substring(3, id.length) + "']").clone(true).prepend($("div[id='sys']").clone(true).children()).children();
            for (var i = 0; i < nav.length; i++)
            {
                $("#accordion").accordion('add', {
                    title:nav[i].title,
                    content: nav[i]
                });
            }
            $("#" + id).attr("class", "btn btn-normal btnactive")
        }
        $(function () {
            $.ajax({
                url: 'User/Messages',
                type: 'post',
                dataType: "json",
                success: function (msg) {
                    var list = '';
                    for (var i = 0; i < msg.length; i++) {
                        list += "<li class=\"limsg\"><a class=\"aaa\" title=" + msg[i].MsgTitle + " rel=" + msg[i].MsgUrl + ">" + msg[i].MsgTitle + "<span style=\"color:red\">(" + msg[i].Count + ")</span>" + "</a></li><li class=\"underline\"></li>"
                    }
                    $("#ul").empty();
                    $("#ul").append(list)
                    $(".limsg>a").click(function () {
                        addTab($(this)[0].title, $(this)[0].rel)
                    })
                    $(".limsg").hover(function () {
                        $(this).css('background-color', '#F0F0F0');
                    }, function () {
                        $(this).css('background-color', 'white');
                    })
                },
                error: function (d, error) {
                    showError(error);
                }
            });
        })
</script>
<style>
    .layout-panel,.panel{
        overflow:initial;
    }
    .topMain
    { 
        height:61px; 
        /*background-image:url(../Content/Images/top_02.png);*/
        background-color: #0081C2;
        background-repeat:repeat-x; 
    }
    .topLeft {
        float: left;
        height:50px;
    }
    .topRight {
        float: right; right: 10px; top: 14px; text-align: right; font-size: 12px; 
        height:60px;
    }
    .top-info {
        float:right;
        line-height:20px; 
        text-align:center;
        /*float:right;*/
        margin-top:10px;
        margin-right:15px;
    }
    .top-loginuser {
         float:left;
         margin-right:10px;
         height:20px
    }
        .top-info span {
            color:#ffffff;
            font-weight:bolder;
        }
    .top-logout {
        float:right;
        margin-right:0px;
        margin-top:0px;
    }
    .top-logout a{
        color:#fff;
        font-weight:bold;
    }
    .top-message {
        height:20px;
        margin-top:20px
    }
    .nav {
        float:right;
        margin-right:60px;
        height:60px;
        background-color:#fff;
        overflow: hidden;
    }
    .btn {
        cursor:pointer;
        height:60px;
        border:none;
        width:70px;
margin-bottom:-4px;
        color:#fff;
    }
        .btn:disabled {
            /*background-color:orange;*/
            background-image:url(/Content/Images/appbar.close.png)!important;
            background-repeat:no-repeat;
            background-attachment:fixed;
            pointer-events:none;
            cursor:not-allowed;
            filter:alpha(opacity=1);   
            -moz-opacity:1;   
            -khtml-opacity: 1;   
            opacity: 1; 
        }
   .btnactive{
      filter:alpha(opacity=0.8);   
      -moz-opacity:0.8;   
      -khtml-opacity: 0.8;   
      opacity: 0.8;  
        }
   .btn-normal{
       background-color:#0081C2;
   }
    .btn-normal:hover {
        background-color:#006DAE;
                  /*filter:alpha(opacity=0.5);   
      -moz-opacity:0.5;   
      -khtml-opacity: 0.5;   
      opacity: 0.5;*/  
      border-right:solid 1px #C2C2C2;
      border-left:solid 1px #C2C2C2;
    }
    .badge {
    text-shadow: none;
    padding-top: 1px;
    padding-bottom: 3px;
    font-weight: normal;
    line-height: 15px;
    background-color: #FF4800 !important;
    padding:3px 7px;
    border-radius:10px;
    background:#FF4800;
}
    .dropdowndiv{  
    display:none;  
    color:black;  
    position:absolute;  
    right:7px;  
    top:60px;  
    border:1px solid #64ace9;  
    background-color:White;  
    text-align:right;  
    z-index:999999;  
}  
    .dropdowndiv ul  
{  
  text-align:center;  
  list-style-image:none;
  padding:5px!important; 
  margin:0px!important;
}  
    .dropdowndiv li  
{  
    list-style:none;  
    padding-left:8px;  
    margin-top:3px;  
    margin-left:2px;  
    background-repeat:no-repeat;  
    background-position:left center;  
    height:20px;  
    line-height:20px;  
    text-align:left;  
    z-index:999999;  
}  
    .dropdowndiv li a  
{   text-decoration : none;
    color:black;  
    font-size:12px;
    text-align:left;
    cursor:pointer;    
}  
   .nav-ul{
       list-style:none;
       padding:0px;
       margin:0px;
   }
   .nav-ul li{
       float:left;
   }
   .dropdown{
       position:fixed;
       margin-left: 280px;
   }
   .trigon{
       border-left: 8px solid transparent;
border-bottom: 8px solid #fff;
border-right: 8px solid transparent;
width: 2px;
margin-top: -8px;
   }
    .ui-dialog-buttonset {
    background-color: #87b87f !important;
    border-color: #87b87f;}
    .underline {
    height: 1px!important;
overflow: hidden;
background-color: #e5e5e5;}
</style>

<div data-options="region:'north',border:false" class="topMain">
    <div class="topLeft">
        <img style="float:left;margin-top:4px;margin-left:10px" src="~/Content/Images/panasia.gif">
        @*<img alt="" src="~/Content/Images/logoNew.png" style="margin:8px 0px 0px 15px;" />*@
        <h1 style="color:#fff; float:left;margin-top:30px;margin-bottom:0px">双子星系统</h1>
    </div>

    <div class="topRight">
        <div style="float:right">
            <div class="top-logout">
                <a href="@Url.Content("/Account/LogOut")" ><img title="退出系统" src="~/Content/Images/appbar.door.leave.png" style="width:55px; height:55px;" /></a>
</div>
            <div style="" class="top-info">
                <div class="top-loginuser">
                        <img src="~/Content/Images/Login_user.png" />
                    <span style="">
                        @(new Panasia.Core.Sys.SystemParameterFunctions().GetCurrentUserProfiles("FullName"))&nbsp;,&nbsp;欢迎您
                    </span>
                </div>
                <div class="top-message">
                    <a href="#"><img title="消息中心" id="mg" src="~/Content/Images/appbar.message.png" style="width:25px; height:25px;" /></a>
                    <a href="javascript:changepassword();"><img title="修改密码" id="pas" src="~/Content/Images/appbar.key.png" style="width:25px; height:25px;" /></a>
                    <a href="javascript:personalinformation();"><img title="个人设置" id="cog" src="~/Content/Images/appbar.cog.png" style="width:25px; height:25px;" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="nav" style="margin-right:50px">
        <ul class="nav-ul">
            @*<li id="sys">
                <button class="btn btn-normal" id="btnsys" style="cursor:pointer" onclick="Append('btnsys')">
                    <img src="~/Content/Images/appbar.cog.png" style="width:50px; height:50px;vertical-align:middle; text-align:center;"/></button>
                </li>*@
            @*<li id="myinfob" hidden>
                    <button class="btn btn-normal" id="btnmyinfo2" onclick="Append('btnmyinfo')">
                        <span style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">自助管理</span>
                    </button>
                </li>*@
            <li>
                <button title="自助中心" class="btn btn-normal" id="btnmyinfo" onclick="Append('btnmyinfo')">
                    <img id="myinfo" title="自助中心" src="~/Content/Images/appbar.people.profile.png" style="width:50px; height:50px;vertical-align:middle; text-align:center; " />
                </button>
            </li>
            @*<li id="hrb" hidden>
                    <button class="btn btn-normal" id="btnhr2">
                        <span style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">人事系统</span>
                    </button>
                </li>*@
            <li>
                <button title="人事系统" class="btn btn-normal" id="btnhr" onclick="Append('btnhr')">
                    <img id="hr" title="人事系统" src="~/Content/Images/appbar.team.png" style="width:50px; height:50px;vertical-align:middle; text-align:center; " />
                </button>
            </li>
            @*<li id="bib" hidden>
                    <button class="btn btn-normal" id="btnbi2">
                        <span style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">业务系统</span>
                    </button>
                </li>*@
            <li>
                <button title="业务系统" class="btn btn-normal" id="btnbi" onclick="Append('btnbi')">
                    <img id="bi" title="业务系统" src="~/Content/Images/appbar.man.suitcase.fast.png" style="width:50px; height:50px; vertical-align:middle; text-align:center;" />
                </button>
            </li>
            @*<li id="fdb" hidden>
                    <button class="btn btn-normal" id="btnfdb2">
                        <span style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;"> 财务系统</span>
                    </button>
                </li>*@
            <li>
                <button title="财务系统" class="btn btn-normal" id="btnfd" onclick="Append('btnfd')">
                    <img id="fd" title="财务系统" src="~/Content/Images/appbar.calendar.dollar.png" style="width:50px; height:50px; vertical-align:middle; text-align:center;" />
                </button>
            </li>
        </ul>
    </div>
</div>

                      <div class="dropdowndiv" style="width:150px;">
                          <div class="trigon"></div>
                          <ul id="ul"></ul>
                          <ul><li><span style="color:red">@Panasia.Core.Sys.SysService.MessagesCount()</span> 条未读消息</li></ul>
                      </div>
<div data-options="region:'center'" style="border-width:0 !important; top:73px !important;">
    <div id="tabs" class="easyui-tabs" data-options="fit:true">
        <div title="首页">
            <iframe id="first_iframe" scrolling="no" frameborder="0" style="width: 100%; height: 99%; position: relative;"></iframe>
        </div>
    </div>
    <div id="dialog">
    </div> 
    <div id="dialog1">
    </div>
</div>
                      <div data-options="region:'west',split:true" title="导航" style="width:200px;top:73px !important;overflow:hidden;" id="westDiv">

                          <div class="easyui-accordion" data-options="fit:true,border:false" style="top:50px;bottom:50px;" id="accordion">
                              @*@foreach (var menu in Model)
                              {
                                    foreach (var tmenu in menu.Menus)
                                    {

                                        <div title="@tmenu.Title" style="vertical-align:middle;font-weight:bolder;" data-options="iconCls:'@tmenu.Icon'">
                                            @foreach (var smenu in tmenu.Menus)
                                            {
                                                <a class="cs-navi-tab easyui-linkbutton" href="javascript:void(0)" src="@smenu.Src" data-options="iconCls:'@smenu.Icon',plain: true">
                                                    @smenu.Title
                                                </a>
                                            }
                                        </div>
                                    }
                               }*@
                          </div>
                      </div>
    @foreach (var menu in Model)
    {
        <div id="@menu.Name" class="topnav" style="display:none">
            @foreach (var tmenu in menu.Menus)
            {

                <div title="@tmenu.Title" style="vertical-align:middle;font-weight:bolder;" data-options="iconCls:'@tmenu.Icon'">
                    @foreach (var smenu in tmenu.Menus)                                                                                                                                                                                         
                    {
                            <a class="cs-navi-tab easyui-linkbutton" href="javascript:void(0)" src="@smenu.Src" data-options="iconCls:'@smenu.Icon',plain: true">
                                @smenu.Title
                            </a>
                    }
                </div>
            }
        </div>
    }
   
@*<div data-options="region:'south',border:false,split:false" style="height: 23px; text-align:center">
    Copyright&copy;2014无锡泛亚 <a href="#" target="_blank"></a>
</div>*@
<div id="mm" class="easyui-menu cs-tab-menu">
    <div id="mm-tabupdate">刷新</div>
    <div class="menu-sep"></div>
    <div id="mm-tabclose">关闭</div>
    <div id="mm-tabcloseother">关闭其他</div>
    <div id="mm-tabcloseall">关闭全部</div>
</div>
