@model Panasia.Core.Auth.RoleAuthModel
@using Panasia.Core

<script type="text/javascript">
    function submitAct_Auth(data,url)
    {
        var result = "{\"RoleID\":\"" + data.RoleID+"\"";
        data = data.Pages;
        var page = [];
        for (var i = 0; i < data.length; i++)
        {
            if (data[i].Actions.length > 0)
            {
                var value = 0;
                $("input[name='" + data[i].PageID + "']:checked").each(function () {
                    value += parseInt($(this).val());
                })
                
                page.push({ PageID: data[i].PageID, Values: value })
            }
        }
        for (var i = 0; i < page.length; i++)
        {
            result += ",";
            result += "\"" + page[i].PageID + "\":\"" + page[i].Values+"\"";
        }
        result += "}";

        $.ajax({
            url: url,
            type: "post",
            data: $.parseJSON(result),
            success: function (data)
            {
                data=$.parseJSON(data);
                if (!data.HasError) {
                    cancel();
                    $.messager.alert("提示", "权限修改成功");
                }
                else {
                    $.messager.alert(data.ErrorMessage);
                }
            },
            error:function(xmlhttprequest,text,error) {
                showError(error);
            }
        });
    }

</script>
<style>
        .checkbox-span {
        width:auto;
        float:left;
        padding-right:5px;
    }
</style>

<form method="post" class="form-dialog">
    <div class="edit-dialog" style="overflow-y:scroll !important;height:300px !important;">
        @Html.Raw(Model.ToJson())
        <table class="grid">
            @foreach (var item in @Model.Pages)
            {
                <tr>
                    <th>@item.Title:</th>
                    <td>
                        @foreach (var action in item.Actions)
                        {
                            var ischecked = "";
                            if (action.IsSelected)
                            {
                                ischecked = "checked='checked'";
                            }
                            <div class="checkbox-span">
                            <input type='checkbox' class='checkbox' value="@action.ActionValue" name="@item.PageID" @ischecked />
                            <span>@action.ActionTitle</span>
                          </div>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="showmsg"><label id="showmsg"></label></div>
</form>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_Auth(@Model.ToJson(),'/Role/UpdateAuth')">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>
