@{
    var item = Model.Parameters["Data"];
}
<style>
    .edit-panel3 {
        padding: 5px 0px;
        margin-top: 5px;
        width: 780px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<form method="post" id="dataform" class="form-dialog">

    <div class="edit-dialog1">


        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">部门：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Dname"]" readonly="readonly" name="Dname" />
                </div>
            </div>


            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">申请日期：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["ApplicationDate"]" readonly="readonly" name="ApplicationDate" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">入职日期：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["HireDate"]" readonly="readonly" name="HireDate" />
                </div>
            </div>
        </div>


            <div class="edit-panel3">

                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1">姓名：</label></div>
                    <div class="edit-content">
                        <input class="edit-input easyui-textbox " value="@item["Ename"]" readonly="readonly" name="Ename" />
                    </div>
                </div>

                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1">职位：</label></div>
                    <div class="edit-content">
                        <input class="edit-input easyui-textbox " value="@item["Jname"]" readonly="readonly" name="Jname" />
                    </div>
                </div>
            </div>


        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">毕业院校：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["EduName"]" readonly="readonly" name="EduName" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">学历：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Education"]" readonly="readonly" name="Education" />
                </div>
            </div>

        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">试用期：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["StartDate"]" readonly="readonly" name="StartDate" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">至：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["EndDate"]" readonly="readonly" name="EndDate" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">时长(月)：</label></div>
                <div class="edit-content">
                    <input class="edit-input  easyui-textbox" value="@item["SXMonths"]" readonly="readonly" name=" SXMonths" />
                </div>
            </div>
        </div>

        <div class="edit-panel3" style="height:80px">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">自评：</label></div>
                <div class="edit-content-r2">
                    <input class="edit-input easyui-textbox " value="@item["Summary"]" name=" Summary" readonly="readonly" style="width:684px; height:80px" data-options="multiline:true" />
                </div>
            </div>

        </div>
        @*<div class="edit-panel3">

            <div class="edit-field-r2" style="width:500px;height:auto;">
                <div class="edit-title">
                    <label class="edit-label">
                        签核历程：
                    </label>
                </div>
            </div>
            <div class="edit-field-r2" style="width:500px;height:auto;">
                <table class="detail">
                    @{
                        dynamic dataAF = Model.Parameters["AFData"];
                        if (dataAF != null)
                        {
                            dynamic items = dataAF;

                            for (int i = 1; i <= items.Count; i++)
                            {
                                <tr>
                                    <td style="width:20px;"></td>
                                    <td style="width:120px;">@items[i - 1].GetFieldValue("Confirm_Time", "")</td>
                                    <td style="width:100px;">@items[i - 1].GetFieldValue("DepartmentName", "")</td>
                                    <td style="width:80px;">@items[i - 1].GetFieldValue("JobName", "")</td>
                                    <td style="width:60px;">@items[i - 1].GetFieldValue("EmployeeName", "")</td>
                                    <td style="width:40px;">@items[i - 1].GetFieldValue("Confirm_Stat", "")</td>
                                    <td>@items[i - 1].GetFieldValue("Suggestion", "")</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>

        </div>*@

        <div class="edit-field1">
            <div class="showmsg"><label id="showmsg"></label></div>
        </div>

    </div>
</form>

<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭</a>
</div>
<iframe tb="fl_EmployeeMove" id="af" onload="DynIframeSize('af')"></iframe>
<script type="text/javascript">
    InitIFrame();
</script>