
@{
    var item = Model.Parameters["Data"];
}
<style>
    .edit-panel3 {
        padding: 5px 0px;
        margin-top: 5px;
        width: 780px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<form method="post" id="dataform" class="form-dialog">

    <div class="edit-dialog1">
        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">姓名：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Ename"]" readonly="readonly" name="Ename" />
                    <input value="@item["CFID"]" readonly="readonly" type="hidden" name="CFID" />
                </div>
            </div>
        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">部门：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Dname"]" readonly="readonly" name="Dname" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">职位：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Jname"]" readonly="readonly" name="Jname" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">申请日期：</label></div>
                <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["ApplicationDate"]" readonly="readonly" name="ApplicationDate" /></div>
            </div>

        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">入职日期：</label></div>
                <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["HireDate"]" readonly="readonly" name="HireDate" /></div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">毕业院校：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["EduName"]" readonly="readonly" name="EduName" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">学历：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@item["Education"]" readonly="readonly" name="Education" />
                </div>
            </div>

        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">试用期：</label></div>
                <div class="edit-content"> <input class="edit-input easyui-datebox " readonly="readonly" value="@item["HireDate"]" name="StartDate" id="StartDate" data-options="missingMessage:'请选择开始日期',required:true,showSeconds:false" /></div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">至：</label></div>
                <div class="edit-content"> <input class="edit-input easyui-datebox" value="@item["EndDate"]" id="EndDate" name="EndDate" data-options="required:true,missingMessage:'请选择结束日期',validType:'dateCompare[\'#StartDate\']',invalidMessage:'结束日期必须大于起始日期',required:true,showSeconds:false" /></div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">时长(月)：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-numberspinner" data-options="min:1,max:12,increment:1,required:true,missingMessage:'请设定时长',editable:false" value="@item["SXMonths"]" name="SXMonths" />
                </div>
            </div>
        </div>

        <div class="edit-panel3" style="height:100px">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">自评：</label></div>
                <div class="edit-content-r2">
                    <input class="edit-input easyui-textbox " value="@item["Summary"]" name="Summary" style="width:684px; height:100px" data-options="multiline:true,required:true,missingMessage:'请输入自评',validType:'length[0,500]',invalidMessage:'自评不得超过500个字符',prompt:'自评不得超过500个字符'" />
                </div>
            </div>

        </div>
        <div class="edit-field1">
            <div class="showmsg"><label id="showmsg"></label></div>
        </div>
    </div>
</form>

<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGUpdate('dataform', '/Page/P01037/Update', 'datagrid')">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>