@{
    var item = Model.Parameters["Data"];
}
<!DOCTYPE html>
<style>
    .edit-panel3 {
        padding: 5px 0px;
        margin-top: 5px;
        width: 550px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<form method="post" id="dataform" class="form-dialog">
    <div class="edit-dialog1"style="width:550px">
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">公司：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " name="CompanyName" value="@item["CompanyName"]" readonly="readonly" />
                    <input id="EmployeeID" value="@item["EmployeeID"]" class="edit-input" type="hidden" name="EmployeeID" />
                    <input id="YearMonth" value="@item["YearMonth"]" class="edit-input" type="hidden" name="YearMonth" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">部门：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox" name="DeptName" value="@item["DeptName"]" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">职位：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox" name="JobName" value="@item["JobName"]" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">姓名：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox" name="EName" value="@item["EName"]" readonly="readonly" />
                </div>
            </div>
        </div>
        <div style="margin-top:30px;width:550px">
            <div class="easyui-panel" title="出勤明细" style="width:540px;height:180px" data-options="collapsible:true,collapsed:true">
                <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01031/GetCheckRecord?EmployeeID=@item["EmployeeID"]&YearMonth=@item["YearMonth"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,singleSelect:true,collapsible: false,resizable:true">
                    <thead>
                        <tr>
                            <th data-options="field:'Autokey',hidden:true"></th>
                            <th data-options="field:'DeptName',fixed:true,">部门</th>
                            <th data-options="field:'Name',fixed:true,">姓名</th>
                            <th data-options="field:'CardID',fixed:true,">卡号</th>
                            <th data-options="field:'CardTime',fixed:true,">刷卡时间</th>
                            <th data-options="field:'Source',fixed:true,">考勤机</th>
                        </tr>
                    </thead>
                </table>
        </div>
        <div class="easyui-panel" title="请假明细" style="width:540px;height:180px" data-options="collapsible:true,collapsed:true">
            <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01031/GetLeave?EmployeeID=@item["EmployeeID"]&YearMonth=@item["YearMonth"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,singleSelect:true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'LAFID',hidden:true"></th>
                        <th data-options="field:'Name',fixed:true,">姓名</th>
                        <th data-options="field:'LeaveName',fixed:true,">请假类型</th>
                        <th data-options="field:'StartDate',fixed:true,">开始时间</th>
                        <th data-options="field:'EndDate',fixed:true,">结束时间</th>
                        <th data-options="field:'ApplicationHours',fixed:true,">请假时数</th>
                        <th data-options="field:'TimeUnit',fixed:true,">单位</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="easyui-panel" title="加班明细" style="width:540px;height:180px" data-options="collapsible:true,collapsed:true">
            <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01031/GetOvertime?EmployeeID=@item["EmployeeID"]&YearMonth=@item["YearMonth"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,singleSelect:true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'OAFID',hidden:true"></th>
                        <th data-options="field:'Date',fixed:true,">申请日期</th>
                        <th data-options="field:'DeptName',fixed:true,">部门</th>
                        <th data-options="field:'Name',fixed:true,">姓名</th>
                        <th data-options="field:'CardID',fixed:true,">卡号</th>
                        <th data-options="field:'StartDate',fixed:true,">刷卡时间起</th>
                        <th data-options="field:'EndDate',fixed:true,">刷卡时间讫</th>
                        <th data-options="field:'ApplicationHours',fixed:true,">加班时数</th>
                        <th data-options="field:'TimeUnit',fixed:true,">单位</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="easyui-panel" title="公出明细" style="width:540px;height:180px" data-options="collapsible:true,collapsed:true">
            <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01031/GetGoOut?EmployeeID=@item["EmployeeID"]&YearMonth=@item["YearMonth"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,singleSelect:true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'GOFID',hidden:true"></th>
                        <th data-options="field:'Name',fixed:true,">姓名</th>
                        <th data-options="field:'StartDate',fixed:true,">公出起</th>
                        <th data-options="field:'EndDate',fixed:true,">公出讫</th>
                        <th data-options="field:'Reason',fixed:true,">原因</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="easyui-panel" title="迟到早退旷工明细" style="width:540px;height:180px" data-options="collapsible:true,collapsed:true">
            <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01031/GetLate?EmployeeID=@item["EmployeeID"]&YearMonth=@item["YearMonth"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,singleSelect:true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'EmployeeID',hidden:true"></th>
                        <th data-options="field:'Date',fixed:true,">日期</th>
                        <th data-options="field:'DeptName',fixed:true,">部门</th>
                        <th data-options="field:'Name',fixed:true,">姓名</th>
                        <th data-options="field:'CardID',fixed:true,">卡号</th>
                        <th data-options="field:'StartTime',fixed:true,">刷卡起</th>
                        <th data-options="field:'EndTime',fixed:true,">刷卡讫</th>
                        <th data-options="field:'Remark',fixed:true,">迟到早退旷工</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="easyui-panel" title="缺卡解释工单明细" style="width:540px;height:180px" data-options="collapsible:true,collapsed:true">
            <table id="datagrid1" class="easyui-datagrid" data-options="url:'/Page/P01031/GetAbnormalAttendance?EmployeeID=@item["EmployeeID"]&YearMonth=@item["YearMonth"]',fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,singleSelect:true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'AAID',hidden:true"></th>
                        <th data-options="field:'Date',fixed:true,">日期</th>
                        <th data-options="field:'DeptName',fixed:true,">部门</th>
                        <th data-options="field:'Name',fixed:true,">姓名</th>
                        <th data-options="field:'CardID',fixed:true,">卡号</th>
                        <th data-options="field:'ThrowableType',fixed:true,">缺勤类型</th>
                        <th data-options="field:'Reason',fixed:true,">缺勤原因</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>      
            <div class="edit-field">
                <div class="showmsg">
                    <label id="showmsg">
                    </label>
                </div>
            </div>
        </div>
</form>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭</a>
</div>

