@{
    var item = Model.Parameters["Data"];
}
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#IsMaster").val() == "True") {
            $("#IsMaster").attr("checked", "checked");
        }
        else {
            $("#IsMaster").attr("checked", false);
        }
    });
    </script>
        <!DOCTYPE html>
        <div>
            <form id="dataform" class="form-dialog" method="post">
                <div id="dataform" class="form-dialog">
                    <div class="edit-dialog">
                        <div class="edit-panel">
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        关系：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input name="Title" class="edit-input easyui-textbox" value="@item["Title"]" readonly="readonly" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        姓名：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input name="Name" class="edit-input easyui-textbox" value="@item["Name"]" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="edit-panel">
                            <div class="edit-field">
                                <div class="edit-title"><label class="edit-label">存/殆：</label></div>
                                <div class="edit-content">
                                    <input name="IsDie" class="edit-input easyui-textbox" value="@item["IsDie"]" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div id="dd" class="edit-panel">
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        年龄：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input name="Age" class="edit-input easyui-textbox" value="@item["Age"]" readonly="readonly" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        职业：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input name="WordUnit" class="edit-input easyui-textbox" value="@item["WordUnit"]" readonly="readonly" />
                                </div>
                            </div>
                            <div class="edit-field">
                                <div class="edit-title">
                                    <label class="edit-label">
                                        联系电话：
                                    </label>
                                </div>
                                <div class="edit-content">
                                    <input name="MobiPhone" class="edit-input easyui-textbox" value="@item["MobiPhone"]" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="edit-panel">
                            <div class="edit-field" style="text-align:center;margin-left:auto;margin-right:auto;">
                                <input name="IsMaster" id="IsMaster" class="textbox" value="@item["IsMaster"]" checked="" type="checkbox" />
                                <span style="font-size:12px;font-family: 宋体;">紧急联系人否</span>
                            </div>
                            <div class="edit-field">
                                <div class="showmsg">
                                    <label id="showmsg">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="dialog-button">
                <a id="btn-cancel" class="easyui-linkbutton edit-button" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">关闭</a>
            </div>
        </div>
