@{
    var item = Model.Parameters["Data"];
}
<script type="text/javascript">
    $(document).ready(function () {
        IsLoad($("#IsEmploy").val(), IsEmploy, $("#IsEmploy"))
        IsLoad($("#IsSponsor").val(), IsSponsor, $("#IsSponsor"))
        IsLoad($("#IsCrime").val(), IsCrime, $("#IsCrime"))
    });
    function IsLoad(State, fun, checkbox) {
        if (State == 'True') {
            //checkbox.attr('checked',true);
            checkbox[0].checked = true;
        }
        else {
            checkbox.attr('checked',false);
        }
        fun(State)
    }

    function IsEmployClick(checkbox) {
        IsClick(checkbox.checked, IsEmploy, "IsEmploy")
    }
    function IsSponsorClick(checkbox) {
        IsClick(checkbox.checked, IsSponsor, "IsSponsor")
    }
    function IsCrimeClick(checkbox) {
        IsClick(checkbox.checked, IsCrime, "IsCrime")
    }

    function IsClick(State, fun, checkbox) {
        if (State == true) {
            $("#" + checkbox).val('True')
            fun('True')
        }
        else {
            $("#" + checkbox).val('False')
            fun('False')
        }
    }

    function IsEmploy(State) {
        if (State=='True') {
            $("#EmployWorkUnit").textbox({
                required: true,
                disabled: false
            });
            $("#WorkDateBeg,#WorkDateEnd").datebox({
                required: true,
                disabled: false
            });
            $("#hidden1,#hidden2,#hidden3").show();
        }
        else {
            $("#hidden1,#hidden2,#hidden3").hide();
            $("#EmployWorkUnit").textbox({
                required: false,
                disabled: true
            });
            $("#WorkDateBeg,#WorkDateEnd").datebox({
                required: false,
                disabled: true
            });
            //$("#EmployWorkUnit").textbox('setValue', "");
            //$("#WorkDateBeg").datebox('clear');
            //$("#WorkDateEnd").datebox('clear');
        }
    }
    function IsSponsor(State) {
        if (State == 'True') {
            $("#Sponsor,#Relation,#WorkUnit").textbox({
                required: true,
                disabled: false
            });
            $("#hidden4,#hidden5,#hidden6").show();
        } else {
            $("#hidden4,#hidden5,#hidden6").hide();
            $("#Sponsor,#Relation,#WorkUnit").textbox({
                required: false,
                disabled: true
            });
            //$("#Sponsor").textbox('setValue', "");
            //$("#Relation").textbox('setValue', "");
            //$("#WorkUnit").textbox('setValue', "");
        }
    }
    function IsCrime(State) {
        if (State == 'True') {
            $("#CrimeReason").textbox({
                required: true,
                disabled: false
            });
            $("#CrimeDateBeg,#CrimeDateEnd").datebox({
                required: true,
                disabled: false
            });
            $("#hidden7,#hidden8,#hidden9").show();
        } else {
            $("#hidden7,#hidden8,#hidden9").hide();
            $("#CrimeReason").textbox({
                required: false,
                disabled: true
            });
            $("#CrimeDateBeg,#CrimeDateEnd").datebox({
                required: false,
                disabled: true
            });
            //$("#CrimeDateBeg").datebox('clear');
            //$("#CrimeDateEnd").datebox('clear');
            //$("#CrimeReason").textbox('setValue', "");
        }
    }
</script>

<!DOCTYPE html>
<div>
    <form id="dataform" class="form-dialog" method="post">
        <div id="dataform" class="form-dialog">
            <div class="edit-dialog">
                <div class="edit-panel">
                    <div class="edit-field">
                        <div style="width:120px" class="edit-title">
                            <label class="edit-title">
                                我公司招聘信息来源：
                            </label>
                        </div>
                        <div>
                            <input name="Eoid" value="@item["Eoid"]" type="hidden"/>
                            <input style="width:129px" name="RecruitingSources" value="@item["RecruitingSources"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入招聘信息来源',required:true,validType:'length[0,200]',invalidMessage:'招聘信息来源字数不得超过200个字符'" />
                        </div>
                    </div>
                    <div class="edit-field" style="margin-left:auto;margin-right:auto;">
                        <input name="IsEmploy" id="IsEmploy" class="textbox" value="@item["IsEmploy"]" type="checkbox" onclick="IsEmployClick(this)"/>
                        <span style="font-size:12px;font-family: 宋体;">是否被我公司或集团其他公司聘用过？</span>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden1">
                        <div class="edit-title">
                            <label class="edit-title">
                                聘用单位：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input id="EmployWorkUnit" name="EmployWorkUnit" value="@item["EmployWorkUnit"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入聘用单位',required:true,validType:'length[0,200]',invalidMessage:'聘用单位字数不得超过200个字符'" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden2">
                        <div class="edit-title">
                            <label class="edit-title">
                                工作时间：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input id="WorkDateBeg" name="WorkDateBeg" value="@item["WorkDateBeg"]" class="edit-input easyui-datebox" style="width:185px;" data-options="missingMessage:'请选择工作时间的起始日期'" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden3">
                        <div class="edit-title">
                            <label class="edit-title">
                                到：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input id="WorkDateEnd" name="WorkDateEnd" value="@item["WorkDateEnd"]" class="edit-input easyui-datebox" style="width:185px;" data-options="missingMessage:'请选择工作时间的结束日期',validType:'dateCompare[\'#WorkDateBeg\']',invalidMessage:'结束日期必须大于起始日期'" />
                        </div>
                    </div>
                    <div class="edit-field" style="margin-left:auto;margin-right:auto;">
                        <input name="IsSponsor" id="IsSponsor" class="textbox" value="@item["IsSponsor"]" type="checkbox" onclick="IsSponsorClick(this)"/>
                        <span style="font-size:12px;font-family: 宋体;">是否有关系介绍人？</span>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden4">
                        <div class="edit-title">
                            <label class="edit-title">
                                介绍人姓名：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="Sponsor" id="Sponsor" value="@item["Sponsor"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入介绍人姓名',required:true,validType:'length[0,20]',invalidMessage:'介绍人姓名字数不得超过20个字符'" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden5">
                        <div class="edit-title">
                            <label class="edit-title">
                                与本人关系：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="Relation" id="Relation" value="@item["Relation"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入与本人关系',required:true,validType:'length[0,50]',invalidMessage:'与本人关系字数不得超过50个字符'" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden6">
                        <div class="edit-title">
                            <label class="edit-title">
                                单位：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="WorkUnit" id="WorkUnit" value="@item["WorkUnit"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入介绍人单位',required:true,validType:'length[0,100]',invalidMessage:'介绍人单位字数不得超过100个字符'" />
                        </div>
                    </div>
                    <div class="edit-field" style="margin-left:auto;margin-right:auto;">
                        <input name="IsCrime" id="IsCrime" class="textbox" value="@item["IsCrime"]" type="checkbox" onclick="IsCrimeClick(this)"/>
                        <span style="font-size:12px;font-family: 宋体;">是否有犯罪经历？</span>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden7">
                        <div class="edit-title">
                            <label class="edit-title">
                                服刑时间：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="CrimeDateBeg" value="@item["CrimeDateBeg"]" id="CrimeDateBeg" class="edit-input easyui-datebox" style="width:185px;" data-options="missingMessage:'请选择服刑的起始日期'" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden8">
                        <div class="edit-title">
                            <label class="edit-title">
                                到：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="CrimeDateEnd" id="CrimeDateEnd" value="@item["CrimeDateEnd"]" class="edit-input easyui-datebox" style="width:185px;" data-options="missingMessage:'请选择服刑的结束日期',validType:'dateCompare[\'#CrimeDateBeg\']',invalidMessage:'结束日期必须大于起始日期'" />
                        </div>
                    </div>
                    <div class="edit-field-r2" hidden='hidden' id="hidden9">
                        <div class="edit-title">
                            <label class="edit-title">
                                原因：
                            </label>
                        </div>
                        <div class="edit-content-r2">
                            <input name="CrimeReason" id="CrimeReason" style="height:90px" value="@item["CrimeReason"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入服刑原因',required:true,validType:'length[0,200]',invalidMessage:'服刑原因字数不得超过200个字符',multiline:true" />
                        </div>
                    </div>
                    <div class="edit-field">
                        <div class="edit-title"><label class="edit-label">病史：</label></div>
                        <div class="edit-content">
                            <input name="MedicalHistory" value="@item["MedicalHistory"]" panelheight="auto" data-options="missingMessage:'请选择病史',required:true,editable:false,url:'/Share/GetSystemCodes?code=C029',valueField:'Name',textField:'Name'" class=" edit-input easyui-combobox" />
                        </div>
                    </div>
                    <div class="edit-field">
                        <div class="showmsg">
                            <label id="showmsg">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="dialog-button">
        <a id="btn-add" class="easyui-linkbutton edit-button" href="#" onclick="submitAct_DGUpdate('dataform', '/Page/P01028/Update', 'datagrid')" data-options="iconCls:'icon-ok'">确定</a>
        <a id="btn-cancel" class="easyui-linkbutton edit-button" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">取消</a>
    </div>
</div>