@{
    var item = Model.Parameters["Data"];
}
<script type="text/javascript">
    $(document).ready(function () {
        IsLoad($("#IsEmploy").val(), IsEmploy, $("#IsEmploy"))
        IsLoad($("#IsSponsor").val(), IsSponsor, $("#IsSponsor"))
        IsLoad($("#IsCrime").val(), IsCrime, $("#IsCrime"))
    });
    function IsLoad(State, fun, checkbox) {
        if (State == 'True') {
            checkbox.attr('checked', true);
        }
        else {
            checkbox.attr('checked', false);
        }
        fun(State)
    }

    function IsEmploy(State) {
        if (State == 'True') {
            $("#hidden1,#hidden2,#hidden3").show();
        }
        else {
            $("#hidden1,#hidden2,#hidden3").hide();
        }
    }
    function IsSponsor(State) {
        if (State == 'True') {
            $("#hidden4,#hidden5,#hidden6").show();
        } else {
            $("#hidden4,#hidden5,#hidden6").hide();
        }
    }
    function IsCrime(State) {
        if (State == 'True') {
            $("#hidden7,#hidden8,#hidden9").show();
        } else {
            $("#hidden7,#hidden8,#hidden9").hide();
        }
    }
</script>

<!DOCTYPE html>
<div>
    <form id="dataform" class="form-dialog" method="post">
        <div id="dataform" class="form-dialog">
            <div class="edit-dialog">
                <div class="edit-panel">
                    <div class="edit-field">
                        <div style="width:120px" class="edit-title">
                            <label class="edit-title">
                                我公司招聘信息来源：
                            </label>
                        </div>
                        <div>
                            <input name="Eoid" value="@item["Eoid"]" type="hidden" />
                            <input style="width:129px" name="RecruitingSources" readonly="readonly" value="@item["RecruitingSources"]" class="edit-input easyui-textbox"/>
                        </div>
                    </div>
                    <div class="edit-field" style="margin-left:auto;margin-right:auto;display:none;">
                        <input name="IsEmploy" id="IsEmploy" class="textbox" value="@item["IsEmploy"]" type="checkbox" disabled="disabled" />
                        @*<span style="font-size:12px;font-family: 宋体;">是否被我公司或集团其他公司聘用过？</span>*@
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden1">
                        <div class="edit-title">
                            <label class="edit-title">
                                聘用单位：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input id="EmployWorkUnit" name="EmployWorkUnit" readonly="readonly" value="@item["EmployWorkUnit"]" class="edit-input easyui-textbox"/>
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden2">
                        <div class="edit-title">
                            <label class="edit-title">
                                工作时间：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input id="WorkDateBeg" readonly="readonly" name="WorkDateBeg" value="@item["WorkDateBeg"]" class="edit-input easyui-textbox" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden3">
                        <div class="edit-title">
                            <label class="edit-title">
                                到：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input id="WorkDateEnd" readonly="readonly" name="WorkDateEnd" value="@item["WorkDateEnd"]" class="edit-input easyui-textbox" />
                        </div>
                    </div>
                    <div class="edit-field" style="margin-left:auto;margin-right:auto;display:none;">
                        <input name="IsSponsor" id="IsSponsor" class="textbox" value="@item["IsSponsor"]" type="checkbox" disabled="disabled" />
                        @*<span style="font-size:12px;font-family: 宋体;">是否有关系介绍人？</span>*@
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden4">
                        <div class="edit-title">
                            <label class="edit-title">
                                介绍人姓名：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="Sponsor" id="Sponsor" readonly="readonly" value="@item["Sponsor"]" class="edit-input easyui-textbox"  />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden5">
                        <div class="edit-title">
                            <label class="edit-title">
                                与本人关系：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="Relation" readonly="readonly" id="Relation" value="@item["Relation"]" class="edit-input easyui-textbox"  />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden6">
                        <div class="edit-title">
                            <label class="edit-title">
                                单位：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="WorkUnit" readonly="readonly" id="WorkUnit" value="@item["WorkUnit"]" class="edit-input easyui-textbox" />
                        </div>
                    </div>
                    <div class="edit-field" style="margin-left:auto;margin-right:auto;display:none;" >
                        <input name="IsCrime" id="IsCrime" class="textbox" value="@item["IsCrime"]" type="checkbox"  disabled="disabled"/>
                        @*<span style="font-size:12px;font-family: 宋体;">是否有犯罪经历？</span>*@
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden7">
                        <div class="edit-title">
                            <label class="edit-title">
                                服刑时间：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="CrimeDateBeg" readonly="readonly" value="@item["CrimeDateBeg"]" id="CrimeDateBeg" class="edit-input easyui-textbox" />
                        </div>
                    </div>
                    <div class="edit-field" hidden='hidden' id="hidden8">
                        <div class="edit-title">
                            <label class="edit-title">
                                到：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input name="CrimeDateEnd" readonly="readonly" id="CrimeDateEnd" value="@item["CrimeDateEnd"]" class="edit-input easyui-textbox" />
                        </div>
                    </div>
                    <div class="edit-field-r2" hidden='hidden' id="hidden9">
                        <div class="edit-title">
                            <label class="edit-title">
                                原因：
                            </label>
                        </div>
                        <div class="edit-content-r2">
                            <input name="CrimeReason" readonly="readonly" id="CrimeReason" style="height:90px" value="@item["CrimeReason"]" class="edit-input easyui-textbox" data-options="missingMessage:'请输入服刑原因',required:true,validType:'length[0,200]',invalidMessage:'服刑原因字数不得超过200个字符',multiline:true" />
                        </div>
                    </div>
                    <div class="edit-field">
                        <div class="edit-title"><label class="edit-label">病史：</label></div>
                        <div class="edit-content">
                            <input class ="edit-input easyui-textbox" name="MedicalHistory" readonly="readonly" value="@item["MedicalHistory"]" />
                        </div>
                    </div>
                    <div class="edit-field">
                        <div class="showmsg">
                            <label id="showmsg">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="dialog-button">
        <a id="btn-cancel" class="easyui-linkbutton edit-button" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">关闭</a>
    </div>
</div>