@{
    var item = Model.Parameters["Data"];
}

<script type="text/javascript">
    var _v_array = new Array();
    $(function () {
        $('#td').datebox({
            onSelect: function (date) {
                var _date = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                var _v = $('#BuBanDate').textbox('getValue');
                if (_v != "") {
                 _v_array = _v.split(",");
                }
                if (_v_array.indexOf(_date) == -1) {
                    _v_array.push(_date);
                } else {
                    _v_array.splice(_v_array.indexOf(_date), 1);
                }
                if (_v_array.length == 0) {
                    $('#BuBanDate').textbox('clear');
                } else {
                    $('#BuBanDate').textbox('setValue', _v_array);
                }
                $(this).datebox('showPanel');
            },
            onShowPanel: function () {
                var s = $('#BuBanDate').textbox('getValue');
                var _list = new Array();
                if (s != "") {
                    if (s.indexOf(',') != -1) {
                        var _s = s.split(",");
                        $(_s).each(function () {
                            var _n = this.split("-");
                            _list.push(_n[0] + "," + _n[1] + "," + _n[2]);
                        });
                    } else {
                        var _n = s.split("-");
                        _list.push(_n[0] + "," + _n[1] + "," + _n[2]);
                    }
                }
                $(".calendar-day.calendar-today.calendar-selected:eq(0)").removeClass('calendar-selected');
                $("table[class='calendar-dtable'] td").each(function () {
                    var _v_td = $(this).attr('abbr');
                    if (_list.indexOf(_v_td) != -1) {
                        $(this).addClass('calendar-selected');
                    } else {
                        $(this).removeClass('calendar-selected');
                    }
                });
            }
        });
    });
</script>
<form id="dataform" class="form-dialog" method="post">
    <div class="edit-dialog">
        <div class="edit-panel">
            <input name="HhID" class="edit-input" type="hidden" value="@item["HhID"]" />
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">公司名称：</label>
                </div>
                <div class="edit-content">
                    <input class="easyui-textbox edit-input" readonly="readonly" value="@item["Name"]" />
                    <input name="CompanyID" readonly="readonly" type="hidden" value="@item["CompanyID"]" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">假期名称：</label>
                </div>
                <div class="edit-content">
                    <input name="HolidayDate" class="edit-input easyui-textbox" data-options="required:true,missingMessage:'请输入假期名称',invalidMessage:'假期名称不得超过20个字符',validType:'length[1,20]'" value="@item["HolidayDate"]" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">开始日期：</label>
                </div>
                <div class="edit-content">
                    <input id="StartDate" name="StartDate" value="@item["StartDate"]" class="edit-input easyui-datebox" data-options="required:true,missingMessage:'请选择开始日期'" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">结束日期：</label>
                </div>
                <div class="edit-content">
                    <input name="EndDate" id="EndDate" class="edit-input easyui-datebox" value="@item["EndDate"]" data-options="required:true,missingMessage:'请选择结束日期',validType:'dateCompare[\'#StartDate\']',invalidMessage:'结束日期必须大于开始日期'" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">工资系数：</label>
                </div>
                <div class="edit-content">
                    <input name="Coefficient" class="edit-input easyui-numberbox" value="@item["Coefficient"]" data-options="required:true,prompt:'工资系数仅允许1-3',missingMessage:'请输入工资系数',min:1,max:3,precision:2" />
                </div>
            </div>
            <div class="edit-field" hidden="hidden">
                <div class="edit-title">
                    <label class="edit-label">补班日期：</label>
                </div>
                <div class="edit-content">
                    @*这边没加上验证，测试下来发现和其他地方某个js重写的方法有冲突，单页面验证没问题*@
                    <input name="BuBanDate" id="BuBanDate" value="@item["BuBanDate"]" style="width:163px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;" class="easyui-textbox" data-options="editable:false" />
                    <input class="easyui-datebox" id="td" style="width:20px" data-options="panelAlign:'right'" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">是否上班：</label>
                </div>
                <div class="edit-content">
                    <input name="IsWork" value="@item["IsWork"]" class="edit-input easyui-combobox" data-options="required:true,url:'/Share/GetSystemCodes?code=C040',method:'get',valueField:'Code',textField:'Name',panelHeight:'auto'" />
                </div>
            </div>
            <div class="edit-field">
                <div class="showmsg">
                    <label id="showmsg"></label>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="toolbar" class="dialog-button">
    <a id="btn-add" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGUpdate('dataform', '/Page/P01015/Update', 'datagrid')">确定</a>
    <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消 </a>
</div>
