@{
    var item = Model.Parameters["Data"];

}
<script type="text/javascript">

    //function addClick() {
    //    cancleClickRow();
    //    $('#EDelBtn').linkbutton('disable');//删除按钮不可用
    //    $("#datagrid1").datagrid("unselectAll");
    //}
    //function parent() {
    //    //alert($('#ParentID').combobox('getValue'));
    //    $('#PaymentID').combobox({
    //        url: '/Share/Query?name=GetPaymentbyParentID&ParentID=' + $('#ParentID').combobox('getValue')
    //    });
    //}
    //function delClick() {
    //    $.extend($.messager.defaults, {
    //        ok: "确定", cancel: "取消"
    //    })
    //    $.messager.confirm("提示","确认删除选择项？", function (r) {
    //        if (r) {
    //            $("#DeleteCheck").val('on');//删除checkbox选中
    //            $('#EDelBtn').linkbutton('disable');//删除不按钮可用
    //            Submit();//执行
    //        }
    //    })
    //}
    function onClickRow(rowIndex, rowData) {

        //$('#EDelBtn').linkbutton('enable');//删除按钮可用
        //$('.edit-field1:eq(11)').show();
    }
    function cancleClickRow(rowIndex, rowData) {
        //$('#JCName').textbox('setValue', '');
        //$('#Remark').textbox('setValue', '');
        //$("#DeleteCheck").val('');//删除checkbox取消选中
        //$('#EDelBtn').linkbutton('disable');//删除不按钮可用
        //$('.edit-field1:eq(11)').hide();
    }
    function IsSingleClick(checkbox) {
        if (checkbox.checked == true) {
            $(this).val('True')
           
           
        } else {
            $(this).val('False')
          
        }
    }

    function Submit() {
       
        if (eval($("#InvoiceAmount").textbox('getValue')) > eval($("#InvoiceRealAmount").textbox('getValue'))) {
            showError("红冲金额不得大于实际开票金额");
            return false;
        }
        else {
            
            return true;
        }
    }

    function showdvDialog1(url, title, width, height) {
        var boarddiv = "<div id=dvMain_org1></div>";
        $(document.body).append(boarddiv);
        $("#dvMain_org1").dialog({
            title: title,
            shadow: false,
            closed: false,
            cache: false,
            href: url,
            modal: true,
            width: width,
            height: height,
            onLoadSuccess: function (data) {
                $(":input:eq(0)").focus();
            },
            onLoad: function () {
                
                //$(".datebox :text").attr("readonly", "readonly");
                $("#dvMain_org1").dialog('center');//居中
                //$('.easyui-textbox:first').combobox().next('span').find('input').focus()//通用设置第一个input焦点
                //$(".easyui-filebox[readonly!='readonly']:first").next('span').find('input').focus()//.combobox()会把第一个变成combobox，是失误还是有特别的用意？加入只读过滤  --杨磊 2014-9-18
            }
        });
    }

    function dvcancel1() {
        $("#dvMain_org1").dialog('close');
        $("#dvMain_org1").children().remove();
       
        //$(".combo-panel").hide();
    }

    function type() {
        if ('@item["InvoiceType"]' == "C" || '@item["InvoiceType"]' == "D") {
            var url = '/Share/GetSystemCodes?code=C085';
            $('#InvoiceType').combobox({ url: url });
        }
        else {
            var url = '/Share/GetSystemCodes?code=C086';
            $('#InvoiceType').combobox({ url: url });
        }
    }



</script>

<style>
    .edit-panel3 {
    padding:5px 0px;
    margin-top:5px;
    width:530px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    }
</style>

<form method="post" id="dataform" class="form-dialog">

    <div class="edit-dialog1" style="width:530px;margin-left:0px;">

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">操作类型：</label></div>
                <div class="edit-content">
                    <input id="InvoiceType" class="edit-input easyui-combobox" value="@item["InvoiceType"]" name="Invoicetype" panelheight="auto" data-options="required:false,missingMessage:'请选择操作类型',editable:false,url:'/Share/GetSystemCodes?code=C085',valueField:'Code',textField:'Name'" />
                    <input readonly="readonly" type="hidden" name="InvoiceID" id="InvoiceID" value="@item["InvoiceID"]" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">红冲金额</label></div>
                <div class="edit-content">
                    <input id="InvoiceAmount" class="edit-input  easyui-textbox" name="InvoiceAmount" value="-@item["InvoiceAmount"]" readonly="readonly" />
                </div>
            </div>
        </div>

            <div class="edit-panel3">

                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1">发票号：</label></div>
                    <div class="edit-content">
                        <input id="OrderID" class="edit-input  easyui-textbox" name="OrderID" value="@item["InvoiceNumber"]" readonly="readonly" />
                    </div>
                </div>
                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1">开票类型：</label></div>
                    <div class="edit-content">
                        <input id="ContractAmount" class="edit-input easyui-textbox" name="ContractAmount" value="@item["OrderAmount"]" readonly="readonly" />
                    </div>
                </div>
            </div>


        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">实际开票金额：</label></div>
                <div class="edit-content">
                    <input id="InvoiceRealAmount" class="edit-input  easyui-textbox" name="InvoiceRealAmount" value="@item["InvoiceRealAmount"] readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1"></label></div>
                <div class="edit-content">
                </div>
            </div>
        </div>


        <div class="edit-panel3" style="height:70px">
            <div class="edit-field1">
                <div class="edit-title"><label class="edit-label">备注：</label></div>
                <div class="edit-content">
                    <input id="Remark" class="edit-input easyui-textbox" name="Remark" value="@item["Remark"]" style="width:434px;height:60px" data-options="validType:'length[1,200]',invalidMessage:'开票内容不得超过200个字符',multiline:true" />
                </div>
            </div>
            
        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">客户名称：</label></div>
                <div class="edit-content">
                    <input id="CustomerName" class="edit-input  easyui-textbox" name="CustomerName" value="@item["CustomerName"]" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">税务登记号：</label></div>
                <div class="edit-content">
                    <input id="Tax_RegistrationCertificate" class="edit-input easyui-textbox" value="@item["Tax_RegistrationCertificate"]" name="Tax_RegistrationCertificate" readonly="readonly" />
                </div>
            </div>
        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">开户银行：</label></div>
                <div class="edit-content">
                    <input id="OpeningBank" class="edit-input  easyui-textbox" name="OpeningBank" value="@item["OpeningBank"]" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">银行账号：</label></div>
                <div class="edit-content">
                    <input id="Account" class="edit-input easyui-textbox" name="Account" value="@item["Account"]" readonly="readonly" />
                </div>
            </div>
        </div>

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">开票地址：</label></div>
                <div class="edit-content">
                    <input id="Address" class="edit-input  easyui-textbox" name="Address" value="@item["Address"]" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">联系方式：</label></div>
                <div class="edit-content">
                    <input id="ContactTel" class="edit-input easyui-textbox" name="ContactTel" value="@item["ContactTel"]" readonly="readonly" />
                </div>
            </div>
        </div>

        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title"><label class="edit-label">开票内容：</label></div>
                <div class="edit-content">
                    <input id="ReceiverInfomation" class="edit-input easyui-textbox" name="ReceiverInfomation" value="@item["ReceiverInfomation"]" style="width:434px;height:60px" data-options="validType:'length[1,200]',invalidMessage:'开票内容不得超过200个字符',multiline:true" />
                </div>
            </div>
            <div class="edit-panel3">
                <div class="edit-field1">
                    <div class="edit-content">
                        <input class="edit-input" name="DeleteCheck" id="DeleteCheck" type="hidden" />
                    </div>
                </div>
                <div class="edit-field1" style="margin-top:30px;">
                    <div class="showmsg"><label id="showmsg"></label></div>
                </div>
            </div>
        </div>
        </div>
    
</form>
<div class="dialog-button">
    <a id="btn-add" class="easyui-linkbutton edit-button" href="#" onclick="Submit();submitAct_DGAppend('dataform','/Page/P01130/Update','datagrid')" data-options="iconCls:'icon-ok'">确定</a>
    <a id="btn-cancel" class="easyui-linkbutton edit-button" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">取消</a>
</div>






