@functions{
    public string getParameter(string name)
    {
        var value = Model.Parameters[name];
        return value;
    }
}
@{
    var item = Model.Parameters["Data"];
}

<script type="text/javascript">
    function BindProduct() {
        $("#dgProduct").datagrid({
            url: '/Page/P01075/GetProductByOrderID?OrderID=' + $("[name='OrderID']").val()
        });
    }

    function AutoResizeImage(maxWidth, maxHeight, objImg) {
        var img = new Image();
        img.src = objImg.src;
        var hRatio;
        var wRatio;
        var Ratio = 1;
        var w = img.width;
        var h = img.height;
        wRatio = maxWidth / w;
        hRatio = maxHeight / h;
        if (maxWidth == 0 && maxHeight == 0) {
            Ratio = 1;
        } else if (maxWidth == 0) {//
            if (hRatio < 1) Ratio = hRatio;
        } else if (maxHeight == 0) {
            if (wRatio < 1) Ratio = wRatio;
        } else if (wRatio < 1 || hRatio < 1) {
            Ratio = (wRatio <= hRatio ? wRatio : hRatio);
        }
        if (Ratio < 1) {
            w = w * Ratio;
            h = h * Ratio;
        }
        objImg.height = h;
        objImg.width = w;
    }

    function BindAttachment() {
        var orderID = $("[name='OrderID']").val();
        $.ajax({
            type: 'post',
            url: '/Page/P01075/GetAttachmentByOrderID?OrderID=' + orderID,
            success: function (data) {
                for (var i = 0 ; i < data.length; i++) {
                    //var imgUrl = "/Upload/OrderAttachment/" + orderID + "/" + data[i].AttFileUrl;
                    $("#Attachment").append(
                        '<div class="Img" id="' + data[i].RDID + '">' +
                            '<a href="' + data[i].AttFileUrl + '" target="_blank" class="link">' +
                                '<img src="' + data[i].AttFileUrl + '" onload="AutoResizeImage(200, 200, this);" onerror="this.width=\'100\';this.height=\'100\';" />' +
                                '<div class="title">' + data[i].AttFileName + '</div>' +
                            '</a>' +
                            //'<div class="tools">' +
                            //    '<div onclick="deleteAttach(\'' + data[i].RDID + '\', this)"><img src="/Content/Images/delete.jpg" alt="删除附件" title="删除附件" /></div>' +
                            //    '<div onclick="showActDlg(\'修改附件信息\', \'/Page/P01075/AttachModify?RDID=' + data[i].RDID + '\', 400, 300, \'Attach\')"><img src="/Content/Images/edit.jpg" alt="修改附件" title="修改附件" /></div>' +
                            //'</div>' +
                        '</div>');
                }
            }
        });
    }

    function BindReciveRecord() {
        $("#dgReciveRecord").datagrid({
            url: '/Page/P01075/GetReciveRecordByOrderID?OrderID=' + $("[name='OrderID']").val(),
            onLoadSuccess: function (data) {
                var total = 0;
                for (var i = 0; i < data.rows.length; i++)
                {
                    total += data.rows[i].ReciveAmount;
                }
                $("#TotalAmount").textbox("setValue", total);
            }
        });
    }
</script>

<style type="text/css">
    .padding {
        padding: 10px 15px 5px 15px;
    }

    .hidden {
        display: none;
    }
</style>
<div style="width:650px;height:400px;overflow:auto;">
    <div class="padding">
        <div class="easyui-panel" title="订单信息">
            <div class="form-dialog">
                <div class="edit-dialog">
                    <div class="edit-panel-w2">
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    订单编号：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="OrderID" name="OrderID" readonly="readonly" value="@item["OrderID"]" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    下单日期：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="OrderDate" readonly="readonly" name="OrderDate" value="@DateTime.Parse(item["OrderDate"]).ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    客户名称：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="CustomerID" readonly="readonly" name="CustomerID" value="@item["CustomerName"]">
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    合同编号：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="ContractID" name="ContractID" readonly="readonly" value="@item["ContractID"]" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    合同金额：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="ContractAmount" name="ContractAmount" readonly="readonly" data-options="precision:2" value="@item["ContractAmount"]" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    签约时间：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="ContractDate" name="ContractDate" readonly="readonly" value="@DateTime.Parse(item["ContractDate"]).ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    状态：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="OrderState" name="OrderState" readonly="readonly" value="@item["OrderState"]" />
                            </div>
                        </div>
                        <div class="edit-field-w2">
                            <div class="edit-title">
                                <label class="edit-label">
                                    备注：
                                </label>
                            </div>
                            <div class="edit-content-w2">
                                <input class="edit-input-w2 easyui-textbox" id="Remark" name="Remark" readonly="readonly" data-options="multiline:true" style="height:80px;" value="@item["Remark"]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding">
        <div class="easyui-panel" title="到账信息">
            <div class="edit-dialog">
                <div class="edit-panel-w2">
                    <div class="edit-field">
                        <div class="edit-title">
                            <label class="edit-label">
                                到账总额：
                            </label>
                        </div>
                        <div class="edit-content">
                            <input class="edit-input easyui-textbox" id="TotalAmount" readonly="readonly" />
                        </div>
                    </div>
                    <div class="edit-field-w2">
                        <div class="edit-content-w2" style="width:520px;">
                            <table id="dgReciveRecord" class="easyui-datagrid">
                                <thead>
                                    <tr>
                                        <th data-options="field:'ReciveDate',width:100">到账日期</th>
                                        <th data-options="field:'ItemNo',width:100">到账流水</th>
                                        <th data-options="field:'ReciveAmount',width:100">到账金额</th>
                                        <th data-options="field:'Remark',width:218">备注</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <script type="text/javascript">
                BindReciveRecord();
            </script>
        </div>
    </div>
    <div class="padding">
        <div class="easyui-panel" title="客户信息">
            <div class="form-dialog">
                <div class="edit-dialog">
                    <div class="edit-panel-w2">
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    联系人：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="Contact" name="Contact" readonly="readonly" value="@item["Contact"]" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    联系电话：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="ContactMobiPhone" readonly="readonly" name="ContactMobiPhone" value="@item["ContactMobiPhone"]" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    身份证：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="ContactCardNo" name="ContactCardNo" readonly="readonly" value="@item["ContactCardNo"]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="padding">
                <table id="dgProduct" class="easyui-datagrid" style="height:200px" title="产品信息">
                    <thead>
                        <tr>
                            <th data-options="field:'Product',width:150">产品名称</th>
                            <th data-options="field:'UnitPrice',width:100">产品单价(元)</th>
                            <th data-options="field:'Qty',width:100">产品数量</th>
                            <th data-options="field:'ContractAmount',width:100">合同价格(元)</th>
                        </tr>
                    </thead>
                </table>
                <script type="text/javascript">
                    BindProduct();
                </script>
            </div>
            <style type="text/css">
                .Img {
                    padding: 3px 3px 3px 3px;
                    border: 1px solid;
                    float: left;
                    margin: 3px 3px 3px 3px;
                    position: relative;
                }

                    .Img div.title {
                        text-align: center;
                        font-size: 14px;
                    }

                    .Img a.link {
                        text-decoration: none;
                    }

                    .Img div.tools {
                        position: absolute;
                        top: 3px;
                        right: 3px;
                    }

                        .Img div.tools div {
                            float: right;
                            margin-left: 5px;
                            cursor: pointer;
                        }

                a.newAttach {
                    display: block;
                    border: dashed 1px;
                    width: 160px;
                    height: 200px;
                    text-decoration: none;
                    float: left;
                    margin: 3px 3px 3px 3px;
                }

                    a.newAttach div.content {
                        color: #808080;
                        text-align: center;
                        margin-top: 50px;
                    }

                        a.newAttach div.content img {
                            width: 80px;
                            height: 80px;
                            border: 0;
                        }

                        a.newAttach div.content div.title {
                            font-size: 25px;
                            margin-top: 10px;
                        }
            </style>
            <div class="padding">
                <div class="easyui-panel" title="附件信息">
                    <div style="width: 100%; margin: 20px 20px 20px 20px; " id="Attachment">
                    </div>
                    <script type="text/javascript">
                        BindAttachment();
                    </script>
                </div>
            </div>
        </div>