
@{
    var item = Model.Parameters["Data"];
    var companyID = Model.Parameters["CompanyID"];
}

<script type="text/javascript">
    $(function () {
        $('#CardNo').textbox({
            onChange: function () {
                if ($('#CardNo').textbox('isValid')) {
                    var val = $('#CardNo').val()
                    if (val.length == 18) {
                        var date = val.substr(6, 4) + '-' + val.substr(10, 2) + '-' + val.substr(12, 2)
                        $('#Birthday').datebox('setValue', date)
                        if (val[16] % 2 == 0) $('#Sex').combobox('setValue', '女')
                        else $('#Sex').combobox('setValue', '男')
                    }
                }
            }
        });
        if ($("#IsAttendance").val() == "True") {
            $("#IsAttendance")[0].checked = true;
        }
        else {
            $("#IsAttendance")[0].checked = false;
        }
        $("#IsAttendance").change(function () {
            if ($(this)[0].checked) {
                $(this).val('True')
            } else {
                $(this).val('False')
            }
        });
    })

</script>
    <div id="divFloat">
        <div style="float:right;position: absolute;margin: 7em 980px;">
            <form method="post" action="/User/UploadImageFile" id="file_form" enctype="multipart/form-data">
                <div style="height:136px;overflow:hidden;padding:0px; margin:0px;float:left;">

                    <input type="button" value="上传" style="filter:progid:DXImageTransform.M
    icrosoft.gradient(startColorstr='#f9f9f9',endColorstr='#eeeeee');
    background:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9),to(#eeeeee));
    background:-moz-linear-gradient(top,#f9f9f9,#eeeeee);*background:#f4f4f4;_background:#f4f4f4;
    color:#666;border-radius:3px;box-shadow:1px 1px 4px #666;
    border:none;cursor:pointer;position:absolute;z-index:9;margin-top: 30px;margin-left: -7px;" /><br />
                    <input id="file" type="file" name="file" accept="*.jpg" style="position:absolute;width:50px;z-index:10;opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:none" onchange="upImg()" />
                </div>
            </form>
        </div>
        <div class="form-dialog">
            <form method="post" id="dataform" class="">
                <div class="edit-dialog1">
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <input class="edit-input" name="EmployeeID" value="@item["EmployeeID"]" type="hidden" />
                            <div class="edit-title1"><label class="edit-label1">姓名：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Name" value="@item["Name"]" data-options="missingMessage:'请输入姓名',required:true,validType:'length[1,20]',invalidMessage:'名称不得超过20个字符'" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">英文名：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="EnName" value="@item["EnName"]" data-options="validType:'length[0,20]',invalidMessage:'名称不得超过20个字符'" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">身份证号：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" id="CardNo" name="CardNo" data-options="missingMessage:'请输入身份证号',required:true,validType:'identityCard'" value="@item["CardNo"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1" style="height:136px;padding-top:68px;overflow:hidden;">
                                <label class="edit-label1">照片：</label>
                            </div>
                            <div class="edit-content">
                                @if (item["PhotoPath"] == "")
                                {
                                    <img src="/EmployeeImg/default.jpg" height="130" width="130" id="EmployeeImg" /><input type="hidden" name="PhotoPath" value="/EmployeeImg/default.jpg" />
                                }
                                else
                                {
                                    <img src="@item["PhotoPath"]" height="130" width="130" id="EmployeeImg" /><input type="hidden" name="PhotoPath" value="@item["PhotoPath"]" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">出生日期：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" id="Birthday" name="Birthday" data-options="validType:'dateCompareNow[\'<\']',invalidMessage:'出生日期必须早于当前日期'" value="@item["Birthday"]">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">性别：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-combobox" panelheight="auto" id="Sex" name="Sex" value="@item["Sex"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C001',valueField:'Name',textField:'Name'">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">籍贯：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Native" data-options="validType:'length[0,20]',invalidMessage:'不得超过20个字符'" value="@item["Native"]" />
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">政治面貌：</label></div>
                            <div class="edit-content">
                                <input name="Politics" class="edit-input easyui-combobox" panelheight="auto" value="@item["Politics"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C004',valueField:'Name',textField:'Name'" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">民族：</label></div>
                            <div class="edit-content" style="width:50px;">
                                <input name="Nation" value="@item["Nation"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C002',valueField:'Name',textField:'Name'" class="edit-input easyui-combobox" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">婚姻状况：</label></div>
                            <div class="edit-content">
                                <input name="Marriage" panelheight="auto" value="@item["Marriage"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C025',valueField:'Name',textField:'Name'" class="edit-input easyui-combobox" />
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">健康状况：</label></div>
                            <div class="edit-content">
                                <input name="Health" panelheight="auto" value="@item["Health"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C005',valueField:'Name',textField:'Name'" class="edit-input easyui-combobox" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">身高(cm)：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Height" data-options="validType:'length[0,10]',invalidMessage:'不得超过10个字符'" value="@item["Height"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">体重(kg)：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Weight" data-options="validType:'length[0,10]',invalidMessage:'不得超过10个字符'" value="@item["Weight"]" />
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">户籍地址：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="RegisterAddress" data-options="validType:'length[0,100]',invalidMessage:'身份证号不得超过100个字符'" style="width:434px;" value="@item["RegisterAddress"]">
                            </div>
                        </div>
                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">现住址：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="LiveAddress" data-options="validType:'length[0,100]',invalidMessage:'身份证号不得超过100个字符'" style="width:434px;" value="@item["LiveAddress"]" >
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">首次工作：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" name="FirstWorkDate" value="@item["FirstWorkDate"]">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">文化程度：</label></div>
                            <div class="edit-content">
                                <input name="Education" panelheight="auto" value="@item["Education"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C006',valueField:'Name',textField:'Name'" class="edit-input easyui-combobox" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">毕业院校：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="EduName" data-options="validType:'length[0,20]',invalidMessage:'不得超过20个字符'" value="@item["EduName"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">专业：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Major" data-options="validType:'length[0,10]',invalidMessage:'不得超过10个字符'" value="@item["Major"]" />
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">入职日期：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" name="HireDate" value="@item["HireDate"]" data-options="validType:'dateCompareNow[\'<\']',invalidMessage:'入职日期必须早于当前日期'">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">状态：</label></div>
                            <div class="edit-content">
                                <input name="State" panelheight="auto" value="@item["State"]" data-options="editable:false,url:'/Share/GetSystemCodes?code=C003',valueField:'Name',textField:'Name'" class="edit-input easyui-combobox" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">部门：</label></div>
                            <div class="edit-content">
                                <input name="DeptID" class="edit-input easyui-textbox" value="@item["DeptName"]" readonly="readonly">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">职位：</label></div>
                            <div class="edit-content">
                                <input name="JobID" data-options="editable:false,missingMessage:'请选择职位',required:true,url:'/Share/Query?name=GetAllJob',method:'get',valueField:'ID',textField:'Name'" value="@item["JobID"]" class="edit-dropdownlist easyui-combobox" style="width:184px;" />
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">联系电话：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="MobiPhone" data-options="missingMessage:'请输入电话号码',required:true,validType:'mobile'" value="@item["MobiPhone"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">个人邮箱：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Pemail" data-options="validType:'email',invalidMessage:'请输入正确的邮箱格式'" value="@item["Pemail"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">办公电话：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Telephone" data-options="validType:'mobile'" value="@item["Telephone"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">分机号：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="ExtNum" data-options="validType:'onlyNum[4]'" value="@item["ExtNum"]" />
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">卡号：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="CardID" data-options="missingMessage:'请输入卡号',required:true,validType:'length[0,30]',invalidMessage:'卡号不得超过30个字符'" value="@item["CardID"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">IMO：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="ImoID" data-options="missingMessage:'请输入IMO账号',required:true,validType:'length[1,30]',invalidMessage:'不得超过30个字符',validType:'email',invalidMessage:'请输入正确的邮箱格式'" value="@item["ImoID"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">公司邮箱：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Email" data-options="missingMessage:'请输入邮箱',required:true,validType:'length[1,30]',invalidMessage:'不得超过30个字符',validType:'email',invalidMessage:'请输入正确的邮箱格式'" value="@item["Email"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1"><input class="textbox" id="IsAttendance" name="IsAttendance" value="@item["IsAttendance"]" type="checkbox" checked />&nbsp;</label></div>
                            <div class="edit-content">
                                记考勤
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">实习合同：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="Convention" data-options="validType:'length[0,10]',invalidMessage:'不得超过10个字符'" value="@item["Convention"]" />
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">起始日期：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" id="ConventionStartDate" name="ConventionStartDate" value="@item["ConventionStartDate"]">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">终止日期：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" id="ConventionEndDate" name="ConventionEndDate" data-options="validType:'dateCompare[\'#ConventionStartDate\']',invalidMessage:'实习合同终止日期必须大于实习合同起始日期'" value="@item["ConventionEndDate"]">
                            </div>
                        </div>
                    </div>
                    <div class="edit-panel2">
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">正式合同：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="ContractOfSale" data-options="validType:'length[0,20]',invalidMessage:'不得超过20个字符'" value="@item["ContractOfSale"]">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">起始日期：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" id="ContractStartDate" name="ContractStartDate" value="@item["ContractStartDate"]" data-options="validType:'dateCompare[\'#ConventionEndDate\']',invalidMessage:'正式合同起始日期必须大于实习合同终止日期'">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">终止日期：</label></div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" id="ContractEndDate" name="ContractEndDate" data-options="validType:'dateCompare[\'#ContractStartDate\']',invalidMessage:'正式合同终止日期必须大于正式合同起始日期'" value="@item["ContractEndDate"]">
                            </div>
                        </div>
                        <div class="edit-field1">
                            <div class="showmsg"><label id="showmsg"></label></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="submitAct_DGUpdate('dataform', '/Page/P01011/Update', 'datagrid')">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>