@{
    var item = Model.Parameters["Data"];
}
<style>
    .edit-panel3 {
        padding: 5px 0px;
        margin-top: 5px;
        width: 530px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .edg {
        height: 300px;
        width: 400px;
    }
</style>

<script type="text/javascript">
    var flag = [0, 0, 0, 0, 0, 0, 0, 0];
    $(function () {
        if ($("#IsAttendance").val() == "True") {
            $("#IsAttendance")[0].checked = true;
        }
        else {
            $("#IsAttendance")[0].checked = false;
        }
        $('#tabs').tabs({
            onSelect: function (title, index) {
                switch (title) {
                    case '教育经历':
                        if (flag[0] == 0) {
                            $('#datagridEdu').datagrid({ url: '/Page/P01011/GetEduData?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[0] = 1;
                        break;
                    case '工作经历':
                        if (flag[1] == 0) {
                            $('#datagridJob').datagrid({ url: '/Page/P01011/GetJobData?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[1] = 1;
                        break;
                    case '职业技能':
                        if (flag[2] == 0) {
                            $('#datagridSki').datagrid({ url: '/Page/P01011/GetSkillData?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[2] = 1;
                        break;
                    case '社会关系':
                        if (flag[3] == 0) {
                            $('#datagridFam').datagrid({ url: '/Page/P01011/GetFamilieData?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[3] = 1;
                        break;
                    case '其他':
                        if (flag[4] == 0) {
                            $('#datagridOth').datagrid({ url: '/Page/P01011/GetOtherData?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[4] = 1;
                        break;
                    case '调动记录':
                        if (flag[5] == 0) {
                            $('#datagridMov').datagrid({ url: '/Page/P01083/EmpMove?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[5] = 1;
                        break;
                    case '奖惩记录':
                        if (flag[6] == 0) {
                            $('#datagridJC').datagrid({ url: '/Page/P01083/EmpJC?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[6] = 1;
                        break;
                    case '请假记录':
                        if (flag[7] == 0) {
                            $('#datagridLea').datagrid({ url: '/Page/P01083/EmpLeave?EmployeeID=' + $('#EmployeeID').val() });
                        }
                        flag[7] = 1;
                        break;
                    default: break;
                }
            }
        });
    });
</script>
<style>
    .lablefontweightbold {
        font-weight:bold;
        height:20px;
        /*background-color:lightgray;**/
    }
</style>
<div class="form-dialog">
    <div id="tabs" class="easyui-tabs" style="width:1030px;height:470px;">
        <div title="基本信息" style="padding:10px;overflow:hidden">
            <form method="post" id="dataform">
                @*<table>
                        <tbody style="border:1">
                            <tr>
                                <td>姓名：</td> <td>@item["Name"]</td> <td>英文名：</td> <td>@item["EnName"]</td> <td>身份证号：</td> <td>@item["CardNo"]</td>
                                <td>照片：</td> <td></td>
                            </tr>
                        </tbody>
                    </table>*@
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <input class="edit-input" id="EmployeeID" name="EmployeeID" value="@item["EmployeeID"]" type="hidden" />
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">姓名：</label></div>
                        <div class="edit-content">
                            @item["Name"]@*<input class="edit-input easyui-textbox" name="Name" value="@item["Name"]" readonly="readonly" />*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">英文名：</label></div>
                        <div class="edit-content">
                            @item["EnName"]@*<input class="edit-input easyui-textbox" name="EnName" value="@item["EnName"]" readonly="readonly" />*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">身份证号：</label></div>
                        <div class="edit-content">
                            @item["CardNo"]@*<input class="edit-input easyui-textbox" name="CardNo" value="@item["CardNo"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1" style="height:136px;padding-top:68px;overflow:hidden;">
                            <label class="edit-label1 lablefontweightbold">照片：</label>
                        </div>
                        <div class="edit-content">
                            @if (item["PhotoPath"] == "")
                            {
                                <img src="/EmployeeImg/default.jpg" height="130" width="130" id="EmployeeImg" /><input type="hidden" name="PhotoPath" value="/EmployeeImg/default.jpg" />
                            }
                            else
                            {
                                <img src="@item["PhotoPath"]" height="130" width="130" id="EmployeeImg" /><input type="hidden" name="PhotoPath" value="@item["PhotoPath"]" />
                            }
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">出生日期：</label></div>
                        <div class="edit-content">
                            @item["Birthday"]@*<input class="edit-input easyui-textbox" name="Birthday" value="@item["Birthday"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">性别：</label></div>
                        <div class="edit-content">
                            @item["Sex"]@*<input class="edit-input easyui-textbox" name="Sex" value="@item["Sex"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">籍贯：</label></div>
                        <div class="edit-content">
                            @item["Native"]@*<input class="edit-input easyui-textbox" name="Native" value="@item["Native"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">政治面貌：</label></div>
                        <div class="edit-content">
                            @item["Politics"]@*<input name="Politics" class="edit-input easyui-textbox" value="@item["Politics"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">民族：</label></div>
                        <div class="edit-content">
                            @item["Nation"]@*<input name="Nation" class="edit-input easyui-textbox" value="@item["Nation"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">婚姻状况：</label></div>
                        <div class="edit-content">
                            @item["Marriage"]@*<input name="Marriage" value="@item["Marriage"]" class="edit-input easyui-textbox" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">健康状况：</label></div>
                        <div class="edit-content">
                            @item["Health"]@*<input name="Health" value="@item["Health"]" class="edit-input easyui-textbox" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">身高(cm)：</label></div>
                        <div class="edit-content">
                            @item["Height"]@*<input class="edit-input easyui-textbox" name="Height" value="@item["Height"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">体重(kg)：</label></div>
                        <div class="edit-content">
                            @item["Weight"]@*<input class="edit-input easyui-textbox" name="Weight" value="@item["Weight"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">户籍地址：</label></div>
                        <div class="edit-content">
                            @item["RegisterAddress"] @*<input class="edit-input easyui-textbox" name="RegisterAddress" style="width:434px;" value="@item["RegisterAddress"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1 margin-left">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">现住址：</label></div>
                        <div class="edit-content">
                            @item["LiveAddress"] @*<input class="edit-input easyui-textbox" name="LiveAddress" style="width:434px;" value="@item["LiveAddress"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">首次工作：</label></div>
                        <div class="edit-content">
                            @item["FirstWorkDate"] @*<input class="edit-input easyui-textbox" name="FirstWorkDate" value="@item["FirstWorkDate"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">文化程度：</label></div>
                        <div class="edit-content">
                            @item["Education"]@*<input name="Education" value="@item["Education"]" class="edit-input easyui-textbox" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">毕业院校：</label></div>
                        <div class="edit-content">
                            @item["EduName"] @*<input class="edit-input easyui-textbox" name="EduName" value="@item["EduName"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">专业：</label></div>
                        <div class="edit-content">
                            @item["Major"]  @*<input class="edit-input easyui-textbox" name="Major" value="@item["Major"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">入职日期：</label></div>
                        <div class="edit-content">
                            @item["HireDate"]@*<input class="edit-input easyui-textbox" name="HireDate" value="@item["HireDate"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">状态：</label></div>
                        <div class="edit-content">
                            @item["State"] @*<input class="edit-input easyui-textbox" name="State" value="@item["State"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">部门：</label></div>
                        <div class="edit-content">
                            @item["DeptName"] @*<input name="DeptID" class="edit-input easyui-textbox" value="@item["DeptName"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">职位：</label></div>
                        <div class="edit-content">
                            @item["JobName"] @*<input name="JobID" class="edit-input easyui-textbox" value="@item["JobName"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">联系电话：</label></div>
                        <div class="edit-content">
                            @item["MobiPhone"] @*<input class="edit-input easyui-textbox" name="MobiPhone" value="@item["MobiPhone"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">个人邮箱：</label></div>
                        <div class="edit-content">
                            @item["Pemail"] @*<input class="edit-input easyui-textbox" name="Pemail" value="@item["Pemail"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">办公电话：</label></div>
                        <div class="edit-content">
                            @item["Telephone"] @*<input class="edit-input easyui-textbox" name="Telephone" value="@item["Telephone"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">分机号：</label></div>
                        <div class="edit-content">
                            @item["ExtNum"] @*<input class="edit-input easyui-textbox" name="ExtNum" value="@item["ExtNum"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">卡号：</label></div>
                        <div class="edit-content">
                            @item["CardID"]@*<input class="edit-input easyui-textbox" name="CardID" value="@item["CardID"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">IMO：</label></div>
                        <div class="edit-content">
                            @item["ImoID"]@*<input class="edit-input easyui-textbox" name="ImoID" value="@item["ImoID"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">公司邮箱：</label></div>
                        <div class="edit-content">
                            @item["Email"] @*<input class="edit-input easyui-textbox" name="Email" value="@item["Email"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1"><input class="textbox" readonly="readonly" disabled="disabled" id="IsAttendance" value="@item["IsAttendance"]" type="checkbox" />&nbsp;</label></div>
                        <div class="edit-content">
                            记考勤
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">实习合同：</label></div>
                        <div class="edit-content">
                            @item["Convention"]  @*<input class="edit-input easyui-textbox" name="Convention" value="@item["Convention"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">起始日期：</label></div>
                        <div class="edit-content">
                            @item["ConventionStartDate"] @*<input class="edit-input easyui-textbox" name="ConventionStartDate" value="@item["ConventionStartDate"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">终止日期：</label></div>
                        <div class="edit-content">
                            @item["ConventionEndDate"]@*<input class="edit-input easyui-textbox" name="ConventionEndDate" value="@item["ConventionEndDate"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
                <div class="edit-panel2">
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">正式合同：</label></div>
                        <div class="edit-content">
                            @item["ContractOfSale"] @*<input class="edit-input easyui-textbox" name="ContractOfSale" value="@item["ContractOfSale"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">起始日期：</label></div>
                        <div class="edit-content">
                            @item["ContractStartDate"] @*<input class="edit-input easyui-textbox" name="ContractStartDate" value="@item["ContractStartDate"]" readonly="readonly">*@
                        </div>
                    </div>
                    <div class="edit-field1">
                        <div class="edit-title1"><label class="edit-label1 lablefontweightbold">终止日期：</label></div>
                        <div class="edit-content">
                            @item["ContractEndDate"] @*<input class="edit-input easyui-textbox" name="ContractEndDate" value="@item["ContractEndDate"]" readonly="readonly">*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div title="教育经历" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridEdu" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'EduID',hidden:true,checkbox:true"></th>
                        <th data-options="field:'StartDate',fixed:true">起始日期</th>
                        <th data-options="field:'EndDate',fixed:true">结束日期</th>
                        <th data-options="field:'EduName',fixed:true">学校名称</th>
                        <th data-options="field:'Major',fixed:true">专业名称</th>
                        <th data-options="field:'EduDegree',fixed:true">学历</th>
                        <th data-options="field:'EduType',fixed:true">学历性质</th>
                        <th data-options="field:'Certificate',fixed:true">证书</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="工作经历" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridJob" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'EjbID',checkbox:true,hidden:true"></th>
                        <th data-options="field:'StartDate',fixed:true">起始日期</th>
                        <th data-options="field:'EndDate',fixed:true">结束日期</th>
                        <th data-options="field:'CompanyName',fixed:true">公司名称</th>
                        <th data-options="field:'DepartmentName',fixed:true">部门名称</th>
                        <th data-options="field:'Position',fixed:true">职位</th>
                        <th data-options="field:'ManagerName',fixed:true">直属主管</th>
                        <th data-options="field:'ManagerPhone',fixed:true">联系电话</th>
                        <th data-options="field:'LeaveReson',fixed:true">离职原因</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="职业技能" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridSki" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'Esid',checkbox:true"></th>
                        <th data-options="field:'SkillUnit',fixed:true">机构名称</th>
                        <th data-options="field:'SkillName',fixed:true">专业技能</th>
                        <th data-options="field:'StartDate',fixed:true">起始日期</th>
                        <th data-options="field:'EndDate',fixed:true">结束日期</th>
                        <th data-options="field:'Certificate',fixed:true">证书</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="社会关系" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridFam" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'FamID',checkbox:true,hidden:true"></th>
                        <th data-options="field:'Title',fixed:true">关系</th>
                        <th data-options="field:'Name',fixed:true">姓名</th>
                        <th data-options="field:'Age',fixed:true">年龄</th>
                        <th data-options="field:'WordUnit',fixed:true">职业</th>
                        <th data-options="field:'IsDie',fixed:true">存/殆</th>
                        <th data-options="field:'MobiPhone',fixed:true">联系电话</th>
                        <th data-options="field:'IsMaster',fixed:true">紧急联系人否</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="其他" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridOth" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'Eoid',checkbox:true,hidden:true"></th>
                        <th data-options="field:'RecruitingSources',fixed:true">我公司招聘信息来源</th>
                        <th data-options="field:'IsEmploy',fixed:true">是否聘用过</th>
                        <th data-options="field:'IsSponsor',fixed:true">是否有介绍人</th>
                        <th data-options="field:'IsCrime',fixed:true">是否有犯罪记录</th>
                        <th data-options="field:'MedicalHistory',fixed:true">病史</th>
                        <th data-options="field:'EmployWorkUnit',fixed:true">聘用单位</th>
                        <th data-options="field:'WorkDateBeg',fixed:true" hidden>1</th>
                        <th data-options="field:'WorkDateEnd',fixed:true" hidden>1</th>
                        <th data-options="field:'Sponsor',fixed:true" hidden>1</th>
                        <th data-options="field:'Relation',fixed:true" hidden>1</th>
                        <th data-options="field:'WorkUnit',fixed:true" hidden>1</th>
                        <th data-options="field:'CrimeDateBeg',fixed:true" hidden>1</th>
                        <th data-options="field:'CrimeDateEnd',fixed:true" hidden>1</th>
                        <th data-options="field:'CrimeReason',fixed:true" hidden>1</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="调动记录" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridMov" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'Movid',hidden:true,checkbox:true"></th>
                        <th data-options="field:'OldDname',fixed:true">调前部门</th>
                        <th data-options="field:'OldPname',fixed:true">调前职位</th>
                        <th data-options="field:'NewDname',fixed:true">调后部门</th>
                        <th data-options="field:'NewPname',fixed:true">调后职位</th>
                        <th data-options="field:'HireDate',fixed:true">入职日期</th>
                        <th data-options="field:'StartDate',fixed:true">申请调动日期</th>
                        <th data-options="field:'RealMoveDate',fixed:true">实际调动日期</th>
                        <th data-options="field:'MoveType',fixed:true">申请日期</th>
                        <th data-options="field:'ApplicationDate',fixed:true">办理状态</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="奖惩记录" data-options="closable:false" style="overflow:hidden;padding:10px;">
            <table id="datagridJC" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
                <thead>
                    <tr>
                        <th data-options="field:'JCId',hidden:true,checkbox:true"></th>
                        <th data-options="field:'JCName',fixed:true">奖惩名称</th>
                        <th data-options="field:'JCType',fixed:true">奖惩类别</th>
                        <th data-options="field:'Amount',fixed:true">金额</th>
                        <th data-options="field:'ApplicationDate',fixed:true">执行时间</th>
                        <th data-options="field:'Reason',fixed:true">事由</th>
                        <th data-options="field:'Suggestion',fixed:true">意见</th>
                        <th data-options="field:'Remark',fixed:true">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
        @*<div title="请假记录" data-options="closable:false" style="overflow:hidden;padding:10px;">
        <table id="datagridLea" class="easyui-datagrid edg" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,striped: true,collapsible: false,resizable:true">
            <thead>
                <tr>
                    <th data-options="field:'LAFID',hidden:true,checkbox:true"></th>
                    <th data-options="field:'StartDate',fixed:true">开始时间</th>
                    <th data-options="field:'EndDate',fixed:true">结束时间</th>
                    <th data-options="field:'ApplicationHours',fixed:true">时长</th>
                    <th data-options="field:'LeaveName',fixed:true">类型</th>
                    <th data-options="field:'Reason',fixed:true">事由</th>
                    <th data-options="field:'ApplicationDate',fixed:true">申请日期</th>
                </tr>
            </thead>
        </table>
    </div>       *@
    </div>
</div>





<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭</a>
</div>



