@{
    var item = Model.Parameters["Data"];
    }

<script type="text/javascript">
    //上传图片
    function uploadImage() {
        if ($("#file").filebox('getValue') == '') {
            updateAtt();
        }
        else {
            $('#myForm').form('submit', {
                url: "/rc_ResumeInfoes/UploadFile",//上传文件Action
                onSubmit: function () {
                    var isValid = $(this).form('validate');//验证不通过
                    if (!isValid) {
                        return isValid;
                    }
                },
                success: function (data) {
                    var result = $.parseJSON(data);
                    if (!result.HasError) {
                        $("#AttFileUrl").val(result.Data);//保存到数据库的文件相对路径
                        updateAtt();    //保存到数据库
                    }
                    else {
                        showError(result.ErrorMessage);
                    }
                }
            });
        }
    }
    //保存到数据库
    function updateAtt() {
        if ($("#myForm").form('validate')) {
            $.ajax({
                url: '/Page/P01071/AttUpdate',
                type: 'post',
                data: $("#myForm").serialize(),
                dataType: "json",
                success: function (result) {
                    if (!result.HasError) {
                        if ($("#CustomerAttID").val() == '') {
                            showError("新增成功!");

                        $(".newAttach").before('<div class="Img">' +
                         '<a href="javascript:;" target="_blank" class="link">' +
                             '<img src="' + $("#AttFileUrl").val() + '" onload="AutoResizeImage(200, 200, this);" onerror="this.width=\'100\';this.height=\'100\';" onclick="openAtt(this)" />' +
                             '<div class="title">' + $("#AttFileName").val() + '</div>' +
                         '</a>' +
                         '<div class="tools">' +
                             '<div onclick="deleteAtt(this)"><img src="/Content/Images/delete.jpg" alt="删除附件" title="删除附件" /></div>' +
                             '<div onclick="editAtt(this)"><img src="/Content/Images/edit.jpg" alt="修改附件" title="修改附件" /></div>' +
                         '</div>' +
                     '</div>');
                        $("#myForm").form('reset');
                        }
                        else
                        {
                            showError("更新成功!");
                            updateSrc();
                            setTimeout("closeDialog()",2000);

                        }
                    }
                    else {
                        showError(result.ErrorMessage);
                    }
                },
                error: function (d, error) {
                    showError(error);
                }
            });
        }
    }
    //关闭修改dialog
    function closeDialog() {
        $("#dialogAtt").dialog("close");
        $("#myForm").form('reset')
    }
    //修改成功后刷新图片
    function updateSrc() {
        var childs = document.getElementById('showAtt').getElementsByTagName("img");
        for (var i = childs.length - 2; i >= 0; i--) {
            if (childs[i].src.indexOf($("#AttFileUrlBefore").val()) > 0 ) {
                childs[i].src = $("#AttFileUrl").val();
                break;
              }
        }
    }
    //打开新增界面
    function addAtt() {
        $("#myForm").form('reset')
        $("#dialogAtt").dialog({
            title: '新增',
            closed: false
        });
        $('#CustomerAttID').val('');
        $('#AttFileUrlBefore').val('');
        $('#CustomerID').val($('#CustomerIDInfo').val());
        $('#file').filebox({
            required: true,
            prompt: '文件大小不得超过2M'
        });
    }
    //获取修改信息，打开修改界面
    function editAtt(obj) {
        var fileUrl = getAttFileUrl(obj);
        $.ajax({
            url: '/Page/P01071/AttGetInfo?AttFileUrl=' + fileUrl,
            type: 'post',
            success: function (result) {
                if (!result.HasError) {
                    var r = result.Data[0];
                    $('#CustomerAttID').val(r['CustomerAttID']);
                    $('#CustomerID').val(r['CustomerID']);
                    $('#file').filebox({
                        required: false,
                        prompt:'不选默认为该项不修改'
                    });
                    $('#AttFileUrl').val(r['AttFileUrl']);
                    $('#AttFileUrlBefore').val(r['AttFileUrl']);
                    $('#AttFileName').textbox('setValue', r['AttFileName'])
                    $('#Remark').textbox('setValue', r['Remark'])
                    $("#dialogAtt").dialog({
                        title: '修改',
                        closed: false
                    });
                }
                else {
                    $.messager.alert('提示', result.ErrorMessage);
                }
            },
            error: function (d, error) {
                showError(error);
            }
        });
    }
    //删除
    function deleteAtt(obj) {
        $.messager.confirm('确认', '您确认想要删除附件吗？', function (r) {
            if (r) {
                var fileUrl = getAttFileUrl(obj);
                $.ajax({
                    url: '/Page/P01071/AttDelete?AttFileUrl=' + fileUrl,
                    type: 'post',
                    success: function (result) {
                        if (!result.HasError) {
                            $.messager.alert('提示', '附件已删除！');
                            //obj.parentNode.parentNode.removeChild(obj.parentNode);
                            $(obj).parent().parent().remove();
                        }
                        else {
                            $.messager.alert('提示', result.ErrorMessage);
                        }
                    },
                    error: function (d, error) {
                        showError(error);
                    }
                });
            }
        })
    }
    //打开大图
    function openAtt(obj)
    {
        var title='大图'
        var src = obj.src;
        $.ajax({
            url: '/Page/P01071/AttGetInfo?AttFileUrl=' + src.substring(src.lastIndexOf('/') + 1),
            type: 'post',
            success: function (result) {
                if (!result.HasError) {
                    var r = result.Data[0];
                    title = r['AttFileName'];
                }
                $('#imgview').attr('src', src);
                AutoResizeImage(600, 400, document.getElementById("imgview"),true);
                $("#dialogAttView").dialog({
                    title: title,
                    closed: false
                });
                $('#dialogAttView').dialog('center');
            }
        });
    }
    //获取url信息,返回附件名称
    function getAttFileUrl(obj) {
        //var src = obj.parentNode.lastElementChild.firstElementChild.src;//附件路径
        var src = $(obj).parent().parent().find("img").attr("src");
        return src.substring(src.lastIndexOf('/') + 1); //附件名称
    }

    // Close image zooms when user hits esc
    $(document).keydown(function (e) {
        if (e.keyCode == 27) {
            $("#dialogAttView").dialog("close");
        }
    });

    function AutoResizeImage(maxWidth, maxHeight, objImg, allowEnlarge) {
        var img = new Image();
        img.src = objImg.src;
        var hRatio;
        var wRatio;
        var Ratio = 1;
        var w = img.width;
        var h = img.height;
        wRatio = maxWidth / w;
        hRatio = maxHeight / h;
        if (maxWidth == 0 && maxHeight == 0) {
            Ratio = 1;
        }
        else if (maxWidth == 0) {//
            if (hRatio < 1) {
                Ratio = hRatio;
            }
        }
        else if (maxHeight == 0) {
            if (wRatio < 1) {
                Ratio = wRatio;
            }
        }
        else if ((wRatio < 1 || hRatio < 1) || allowEnlarge) {
            Ratio = (wRatio <= hRatio ? wRatio : hRatio);
        }
        if (Ratio < 1 || allowEnlarge) {
            w = w * Ratio;
            h = h * Ratio;
        }
        objImg.height = h;
        objImg.width = w;
    }
</script>
<style type="text/css">
    .Img {
        padding: 3px 3px 3px 3px;
        border: 1px solid;
        float: left;
        margin: 3px 3px 3px 3px;
        position: relative;
    }

        .Img div.title {
            text-align: center;
            font-size: 14px;
        }

        .Img a.link {
            text-decoration: none;
        }

        .Img div.tools {
            position: absolute;
            top: 3px;
            right: 3px;
        }

            .Img div.tools div {
                float: right;
                margin-left: 5px;
                cursor: pointer;
            }

    a.newAttach {
        display: block;
        border: dashed 1px;
        width: 160px;
        height: 160px;
        text-decoration: none;
        float: left;
        margin: 3px 3px 3px 3px;
    }

        a.newAttach div.content {
            color: #808080;
            text-align: center;
            margin-top: 25px;
        }

            a.newAttach div.content img {
                width: 80px;
                height: 80px;
                border: 0;
            }

            a.newAttach div.content div.title {
                font-size: 25px;
                margin-top: 10px;
            }
</style>

<form id="attForm">

    <div class="edit-dialog1" style="width:680px;padding:0px">
        <input id="CustomerIDInfo" class="edit-input" readonly="readonly" type="hidden" value="@item["CustomerID"]" />
        <div id="showAtt" class="edit-panel" style="height:380px;width:680px">
            @{
                dynamic items = Model.Parameters["DataAtt"];
                if (items != null)
                {
                    for (int i = 0; i < items.Count; i++)
                    {
                        @*<div class="edit-field" style="height:175px;width:210px;text-align:right">
                            <div style="float:left;margin-left:10px"> @items[i].GetFieldValue("AttFileName", "")</div>
                            <div class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="width:28px;height:28px;" onclick="editAtt(this)"></div>
                            <div class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" style="width:28px;height:28px;" onclick="deleteAtt(this)"></div>
                            <div class="imgShowBox" style="margin-left:10px;width:200px;height:145px; border:1px solid #a0a0a0;">
                                <img class="imgShow" style="width:200px;height:145px;" src="@items[i].GetFieldValue("AttFileUrl", "")" alt="@items[i].GetFieldValue("AttFileName", "")" onclick="openAtt(this)" />
                            </div>
                        </div>*@
                        <div class="Img">
                            <a href="javascript: ;" target="_blank" class="link">
                                <img src="@items[i].GetFieldValue("AttFileUrl", "")" onload="AutoResizeImage(200, 200, this);" onerror="this.width=100;this.height=100;" onclick="openAtt(this)" />
                                <div class="title">@items[i].GetFieldValue("AttFileName", "")</div>
                            </a>
                            <div class="tools">
                                <div onclick="deleteAtt(this)"><img src="/Content/Images/delete.jpg" alt="删除附件" title="删除附件" /></div>
                                <div onclick="editAtt(this)"><img src="/Content/Images/edit.jpg" alt="修改附件" title="修改附件" /></div>
                            </div>
                        </div>
                    }
                }
            }

            <div style="width: 100%; margin: 0px 20px 20px 20px; ">
                <a href="javascript:;" onclick="addAtt();" class="newAttach">
                    <div class="content">
                        <img src="/Content/Images/plus.png" alt="plus" />
                        <div class="title">点击添加附件</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</form>  

<div id="dialogAtt" class="easyui-dialog" data-options="closed:true,modal:true">
    <form method="post" id="myForm" class="form-dialog" enctype="multipart/form-data">
        <div class="edit-dialog">
            <div class="edit-panel">
                <div class=" edit-field">
                    <div class="edit-title"><label class="edit-label">文件名：</label></div>
                    <div class="edit-content">
                        <input id="CustomerAttID" class="edit-input" name="CustomerAttID" readonly="readonly" type="hidden" />
                        <input id="CustomerID" class="edit-input" name="CustomerID" readonly="readonly" type="hidden" />
                        <input id="AttFileUrlBefore" class="edit-input" name="AttFileUrlBefore" type="hidden" />
                        <input id="AttFileUrl" class="edit-input" name="AttFileUrl" readonly="readonly" type="hidden" />
                        <input id="AttFileName" class="edit-input easyui-textbox" name="AttFileName" data-options="missingMessage:'请输入文件名',required:true,validType:'length[1,50]',invalidMessage:'文件名不得超过50个字符'"/>
                    </div>
                </div>
                <div class="edit-field">
                    <div class="edit-title"><label class="edit-label">选择文件：</label></div>
                    <div class="edit-content">
                        <input id="file" name="file" class="easyui-filebox" data-options="buttonText:'选择',required:true,missingMessage:'请选择文件',validType:'onlyPicture',invalidMessage:'选择文件格式不正确'" style="width:184px" />
                    </div>
                </div>
                <div class="edit-field" style="height:90px">
                    <div class="edit-title"><label class="edit-label">备注：</label></div>
                    <div class="edit-content">
                        <input id="Remark" class="edit-input easyui-textbox" name="Remark" style="height:90px" data-options="multiline:true,validType:'length[1,200]',invalidMessage:'备注不得超过200个字符',prompt:'备注不得超过200个字符'" />
                    </div>
                </div>

                <div class="edit-field">
                    <div class="showmsg"><label id="showmsg"></label></div>
                </div>
            </div>


        </div>

    </form>
    <div class="dialog-button">
        <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" onclick="uploadImage()">确定</a>
        <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="$('#dialogAtt').dialog('close')">取消</a>
    </div>
</div>

<div id="dialogAttView" class="easyui-dialog" data-options="closed:true,shadow:false">
    <img id="imgview">
</div>


