@{
    var item = Model.Parameters["Data"];

}
<script type="text/javascript">

    //function addClick() {
    //    cancleClickRow();
    //    $('#EDelBtn').linkbutton('disable');//删除按钮不可用
    //    $("#datagrid1").datagrid("unselectAll");
    //}
    //function parent() {
    //    //alert($('#ParentID').combobox('getValue'));
    //    $('#PaymentID').combobox({
    //        url: '/Share/Query?name=GetPaymentbyParentID&ParentID=' + $('#ParentID').combobox('getValue')
    //    });
    //}
    //function delClick() {
    //    $.extend($.messager.defaults, {
    //        ok: "确定", cancel: "取消"
    //    })
    //    $.messager.confirm("提示","确认删除选择项？", function (r) {
    //        if (r) {
    //            $("#DeleteCheck").val('on');//删除checkbox选中
    //            $('#EDelBtn').linkbutton('disable');//删除不按钮可用
    //            Submit();//执行
    //        }
    //    })
    //}
    function onClickRow(rowIndex, rowData) {
        $('#AutoKey').textbox('setValue', rowData['AutoKey']);
        //$('#JCName').textbox('setValue', rowData['JCName']);
        //$('#Remark').textbox('setValue', rowData['Remark']);
        //$('#EDelBtn').linkbutton('enable');//删除按钮可用
        //$('.edit-field1:eq(11)').show();
    }
    function cancleClickRow(rowIndex, rowData) {
        //$('#JCName').textbox('setValue', '');
        //$('#Remark').textbox('setValue', '');
        //$("#DeleteCheck").val('');//删除checkbox取消选中
        //$('#EDelBtn').linkbutton('disable');//删除不按钮可用
        //$('.edit-field1:eq(11)').hide();
    }
    function IsSingleClick(checkbox) {
        if (checkbox.checked == true) {
            $(this).val('True')
            $("#DeductionLimit").textbox({
                required: true
            });

        } else {
            $(this).val('False')

            $("#DeductionLimit").textbox({
                required: false
            });
            $("#DeductionLimit").textbox('setValue', "");

        }
    }

    function Submit() {
        if ($("#dataform").form('validate')) {
            $.ajax({
                url: "/Page/P01098/Add",
                type: "post",
                data: $("#dataform").serialize(),
                dataType: "json",
                success: function (result) {
                    if (result.HasError) {
                        showError(result.ErrorMessage);
                        if (result.ErrorMessage == '新增成功！' || result.ErrorMessage == '更新成功！' || result.ErrorMessage == '删除成功！') {
                            $('#datagrid1').datagrid('reload');
                            cancleClickRow();
                        }
                    }
                    else {
                    }
                },
                error: function (d, error) {
                    showError(error);
                }
            });
        }
    }

    function showdvDialog1(url, title, width, height) {
        var boarddiv = "<div id=dvMain_org1></div>";
        $(document.body).append(boarddiv);
        $("#dvMain_org1").dialog({
            title: title,
            shadow: false,
            closed: false,
            cache: false,
            href: url,
            modal: true,
            width: width,
            height: height,
            onLoadSuccess: function (data) {
                $(":input:eq(0)").focus();
            },
            onLoad: function () {

                //$(".datebox :text").attr("readonly", "readonly");
                $("#dvMain_org1").dialog('center');//居中
                //$('.easyui-textbox:first').combobox().next('span').find('input').focus()//通用设置第一个input焦点
                //$(".easyui-filebox[readonly!='readonly']:first").next('span').find('input').focus()//.combobox()会把第一个变成combobox，是失误还是有特别的用意？加入只读过滤  --杨磊 2014-9-18
            }
        });
    }

    function dvcancel1() {
        $("#dvMain_org1").dialog('close');
        $("#dvMain_org1").children().remove();

        //$(".combo-panel").hide();
    }
    function Bank() {
        var url = '/Share/Query?name=GetBankByCompanyID&CompanyID=' + $("#CompanyID").combobox("getValue");
        $('#BankID').combobox({ url: url });
    }
    function Bank1(companyid) {
        var url = '/Share/Query?name=GetBankByCompanyID&CompanyID=' + companyid;
        $('#BankID').combobox({ url: url });
    }
    function supplier() {
        var url = '/Share/Query?name=GetBankByCompanyID&CompanyID=' + $("#SupplierID").combobox("getValue");
        $('#Bank').combobox({ url: url });
        if ($('#PaymentID').combobox('getText') == "返佣业务") {
            $("#datagrid1").datagrid({
                iconCls: 'icon-edit',
                singleSelect: true,
                url: '/Page/P01105/GetOrder?SupplierID=' + $("#SupplierID").combobox("getValue"),
            });
        }
    }
    function Account() {
        //alert($('#BankID').combobox("getValue"));
        var url = '/Share/Query?name=GetAccountByBankID&BankID=' + $('#BankID').combobox("getValue");
        $('#Account').combobox({ url: url });
    }
    function parent() {

        $('#DPaymentID').combobox({
            url: '/Share/Query?name=GetPaymentbyParentID&ParentID=' + $('#ParentID').combobox('getValue')
        });
    }
    function parent1(parentid) {
        
        $('#DPaymentID').combobox({
            url: '/Share/Query?name=GetPaymentbyParentID&ParentID=' + parentid
        });

    }
    $(document).ready(function () {
        Bank1('@item["CompanyID"]');
        parent1('@item["ParentID"]');
        var paymentid = '@item["PaymentID"]'
        if (paymentid == "业务付款") {
            $("#company1").hide();
            $("#customer1").hide();
            $("#supplier1").show();
            $("#bank1").show();
            $("#tax1").hide();
            $("#payment1").hide();
            $("#order1").hide();
            $("#SupplierID").textbox({ required: true });
            $("#Bank").textbox({ required: true });
            $("#DAccount").textbox({ required: true });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: false });
            $("#companyhtml").html('供应商名称');
            $("#bankhtml").html('供应商银行');
            $("#accounthtml").html('供应商账号');
            var url = '/Share/Query?name=GetSupplier';
            $('#Company').combobox({ url: url, valueField: "SupplierID", textField: "SupplierNAME" });
        }
        else if (paymentid == "内部往来") {
            $("#company1").hide();
            $("#customer1").hide();
            $("#supplier1").show();
            $("#bank1").show();
            $("#tax1").hide();
            $("#payment1").hide();
            $("#order1").hide();
            $("#Customer").textbox({ required: true });
            $("#Bank").textbox({ required: true });
            $("#DAccount").textbox({ required: true });
            $("#SupplierID").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: false });
            $("#companyhtml").html('往来单位');
            $("#bankhtml").html('往来单位银行');
            $("#accounthtml").html('往来单位账号');
            var url = '/Share/Query?name=GetComName';
            $('#Company').combobox({ url: url, valueField: "CompanyID", textField: "Name" });
        }
        else if (paymentid == "费用支出") {
            $("#company1").hide();
            $("#customer1").hide();
            $("#supplier1").hide();
            $("#bank1").hide();
            $("#tax1").hide();
            $("#payment1").show();
            $("#order1").hide();
            $("#SupplierID").textbox({ required: false });
            $("#Bank").textbox({ required: false });
            $("#DAccount").textbox({ required: false });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: true });
            $("#Tax").textbox({ required: false });
        }
        else if (paymentid == "扣缴税费") {
            $("#company1").hide();
            $("#customer1").hide();
            $("#supplier1").hide();
            $("#bank1").hide();
            $("#tax1").show();
            $("#payment1").hide();
            $("#order1").hide();
            $("#SupplierID").textbox({ required: false });
            $("#Bank").textbox({ required: false });
            $("#DAccount").textbox({ required: false });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: true });
        }
        else if (paymentid == "返佣业务代付款") {
            $("#company1").hide();
            $("#customer1").hide();
            $("#supplier1").show();
            $("#bank1").hide();
            $("#tax1").hide();
            $("#payment1").hide();
            $("#order1").show();
            $("#SupplierID").textbox({ required: false });
            $("#Bank").textbox({ required: false });
            $("#DAccount").textbox({ required: false });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: false });
            $("#companyhtml").html('供应商名称');
            var url = '/Share/Query?name=GetSupplier';
            $('#Company').combobox({ url: url, valueField: "SupplierID", textField: "SupplierNAME" });
        }
        else if (paymentid == "退款") {
            $("#company1").hide();
            $("#customer1").show();
            $("#supplier1").hide();
            $("#bank1").hide();
            $("#tax1").hide();
            $("#payment1").hide();
            $("#order1").hide();
            $("#SupplierID").textbox({ required: false });
            $("#Bank").textbox({ required: false });
            $("#DAccount").textbox({ required: false });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: false });
        }
        else if (paymentid == "还贷款") {
            $("#company1").hide();
            $("#customer1").hide();
            $("#supplier1").hide();
            $("#bank1").show();
            $("#tax1").hide();
            $("#payment1").hide();
            $("#order1").hide();
            $("#SupplierID").textbox({ required: false });
            $("#Bank").textbox({ required: true });
            $("#DAccount").textbox({ required: false });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: false });
            var url = '/Share/Query?name=GetBankByCompanyID&CompanyID=';
            $('#BankID').combobox({ url: url });
            $("#bankhtml").html('银行');
            $("#accounthtml").html('账号');
        }
        else if (paymentid == "其他") {
            $("#company1").show();
            $("#customer1").hide();
            $("#supplier1").hide();
            $("#bank1").hide();
            $("#tax1").hide();
            $("#payment1").hide();
            $("#order1").hide();
            $("#SupplierID").textbox({ required: false });
            $("#Bank").textbox({ required: false });
            $("#DAccount").textbox({ required: false });
            $("#Customer").textbox({ required: false });
            $("#DPaymentID").textbox({ required: false });
            $("#Tax").textbox({ required: false });
        }
    });
</script>

<style>
    .edit-panel3 {
    padding:5px 0px;
    margin-top:5px;
    width:530px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    }
</style>

<form method="post" id="dataform" class="form-dialog">

    <div class="edit-dialog1" style="width:530px;margin-left:0px;">

        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">付款日期：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-datebox " id="ExpenditureDate" name="ExpenditureDate" data-options="required:true,missingMessage:'请选择付款日期'" value="@item["ExpenditureDate"]" readonly="readonly" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">付款公司：</label></div>
                <div class="edit-content">
                    <input id="CompanyID" class="edit-input easyui-combobox" name="CompanyID" value="@item["CompanyID"]" panelheight="auto" data-options="required:true,missingMessage:'请选择公司',editable:false,url:'/Share/Query?name=GetComName',valueField:'CompanyID',textField:'Name',onSelect:Bank " readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">付款银行</label></div>
                <div class="edit-content">
                    <input id="BankID" class="edit-input easyui-combobox" name="BankID" value="@item["BankID"]" panelheight="auto" data-options="required:true,missingMessage:'请选择付款银行',editable:false,valueField:'ID',textField:'BankName',onSelect:Account " readonly="readonly" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">银行账号：</label></div>
                <div class="edit-content">
                    <input id="Account" class="edit-input easyui-combobox" value="@item["Account"]" name="Account" panelheight="auto" data-options="required:true,missingMessage:'请选择银行账号',editable:false,valueField:'Account',textField:'Account' " readonly="readonly" />
                </div>
            </div>

        </div>

        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title"><label class="edit-label">付款类型：</label></div>
                <div class="edit-content">
                    <input id="PaymentID" class="edit-input easyui-combobox" name="PaymentID" value="@item["PaymentID"]" panelheight="auto" data-options="required:true,missingMessage:'请选择付款类型',editable:false,url:'/Share/GetSystemCodes?code=C072',valueField:'Name',textField:'Name' " readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1" id="supplier1">
                <div class="edit-title1"><label class="edit-label1" id="companyhtml">供应商名称：</label></div>
                <div class="edit-content">
                    <input id="SupplierID" class="edit-input easyui-combobox" name="SupplierID" value="@item["SupplierID"]" data-options="required:false,missingMessage:'请选择供应商',editable:false,url:'/Share/Query?name=GetSupplier',valueField:'SupplierID',textField:'SupplierNAME',onSelect:supplier" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1" id="company1" style=" display:none">
                <div class="edit-title1"><label class="edit-label1">收款单位：</label></div>
                <div class="edit-content">
                    <input id="Company" class="edit-input easyui-textbox" value="@item["Company"]" name="Company" data-options="required:false,missingMessage:'请输入收款单位'" readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1" id="customer1" style=" display:none">
                <div class="edit-title1"><label class="edit-label1">客户名称：</label></div>
                <div class="edit-content">
                    <input id="Customer" class="edit-input easyui-combobox" name="Customer" value="@item["Customer"]" panelheight="auto" data-options="required:false,missingMessage:'请选择供应商',editable:false,url:'/Share/Query?name=GetAllCustomer',valueField:'ID',textField:'Name' " readonly="readonly" />
                </div>
            </div>
            <div class="edit-field1" id="tax1" style=" display:none">
                <div class="edit-title1"><label class="edit-label1">税种：</label></div>
                <div class="edit-content">
                    <input id="Tax" class="edit-input easyui-combobox" name="Tax" panelheight="auto" value="@item["Tax"]" data-options="required:false,missingMessage:'请选择税种',editable:false,url:'/Share/GetSystemCodes?code=C073',valueField:'Name',textField:'Name' " readonly="readonly" />
                </div>
            </div>
            
        </div>

        <div class="edit-panel3" id="payment1" style=" display:none">
            <div class="edit-field1" >
                <div class="edit-title1"><label class="edit-label1">支出项目：</label></div>
                <div class="edit-content">
                    <input id="ParentID" class="edit-input easyui-combobox" name="ParentID" value="@item["ParentID"]" panelheight="auto" data-options="required:false,missingMessage:'请选择费用大类',editable:false,url:'/Share/Query?name=GetParent',valueField:'PaymentID',textField:'PaymentName',onSelect:parent " readonly="readonly" />
                    <input id="DPaymentID" class="edit-input easyui-combobox" name="DPaymentID" value="@item["ZPaymentID"]" panelheight="auto" data-options="required:false,missingMessage:'请选择费用小类',editable:false,valueField:'PaymentID',textField:'PaymentName'" />
                    <input name="IsReiFund" id="IsReiFund" class="textbox" value="true" type="checkbox" /> 基金
                </div>
            </div>
        </div>

            <div class="edit-panel3" id="bank1">

                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1" id="bankhtml">供应商银行</label></div>
                    <div class="edit-content">
                        <input id="Bank" class="edit-input easyui-combobox" name="Bank" panelheight="auto" value="@item["Bank"]" data-options="required:false,missingMessage:'请选择付款银行',editable:false,valueField:'BankName',textField:'BankName',onselect:Account " readonly="readonly" />
                    </div>
                </div>

                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1" id="accounthtml">供应商账号：</label></div>
                    <div class="edit-content">
                        <input id="DAccount" class="edit-input easyui-combobox" name="DAccount" panelheight="auto" value="@item["DAccount"]" data-options="required:false,missingMessage:'请选择银行账号',editable:false,valueField:'Account',textField:'Account' " readonly="readonly" />
                    </div>
                </div>

            </div>

            <div class="edit-panel3" style="height:110px;width:434px; margin-top:-14px;text-align:left; display:none" id="order1">
                <table id="datagrid1" style=" text-align:left; height:110px;width:434px;" class="easyui-datagrid" data-options="fitColumns:true,fit:true,rownumbers:true,nowrap: true,singleSelect:true,striped: true,collapsible: false,resizable:true, onSelect: onClickRow,onUnselect: cancleClickRow">
                    <thead>
                        <tr>
                            <th data-options="field:'AutoKey',checkbox:true,hidden:true"></th>
                            <th data-options="field:'OrderDate',fixed:true,">下单日期</th>
                            <th data-options="field:'OrderID',fixed:true,">订单编号</th>
                            <th data-options="field:'Product',fixed:true,">产品名称</th>
                            <th data-options="field:'ContractAmount',fixed:true,">合同金额</th>
                        </tr>
                    </thead>
                </table>
                @*@Html.Hidden("Key")
                @Html.Hidden("DataTableName")*@
            </div>

            <div class="edit-panel3">

                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1">付款人：</label></div>
                    <div class="edit-content">
                        <input id="PaymentName" class="edit-input  easyui-textbox" name="PaymentName" value="@item["PaymentName"]" data-options="required:true,missingMessage:'请输入付款人'" readonly="readonly" />
                    </div>
                </div>
                <div class="edit-field1">
                    <div class="edit-title1"><label class="edit-label1">付款金额：</label></div>
                    <div class="edit-content">
                        <input id="ExpenditureMoney" class="edit-input easyui-textbox" name="ExpenditureMoney" value="@item["ExpenditureMoney"]" data-options="required:true,missingMessage:'请输入付款金额'" readonly="readonly" />
                    </div>
                </div>
            </div>


            <div class="edit-panel3">
                <div class="edit-field1">
                    <div class="edit-title"><label class="edit-label">备注：</label></div>
                    <div class="edit-content">
                        <input id="Remark" class="edit-input easyui-textbox" name="Remark" value="@item["Remark"]" style="width:434px;height:60px" data-options="validType:'length[1,200]',invalidMessage:'备注不得超过200个字符',multiline:true" readonly="readonly" />
                    </div>
                </div>
                <div class="edit-panel3">
                    <div class="edit-field1">
                        <div class="edit-content">
                            <input class="edit-input" name="DeleteCheck" id="DeleteCheck" type="hidden" />
                        </div>
                    </div>
                    <div class="edit-field1" style="margin-top:30px;">
                        <div class="showmsg"><label id="showmsg"></label></div>
                    </div>
                </div>
            </div>
        </div>
    
</form>
<div class="dialog-button">
    
    <a id="btn-cancel" class="easyui-linkbutton edit-button" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">取消</a>
</div>




