@model Panasia.Gemini.Web.Models.org_Department

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>org_Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BD_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BD_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department_Parent_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department_Parent_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Is_Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Is_Active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
