@functions{
    public string getParameter(string name)
    {
        var value = Model.Parameters[name];
        return value;
    }
}
<script type="text/javascript">

    function addClick() {
        cancleClickRow();
        $('#EDelBtn').linkbutton('disable');//删除按钮不可用
        $("#datagrid1").datagrid("unselectAll");
    }
    function delClick() {
        $.extend($.messager.defaults, {
            ok: "确定", cancel: "取消"
        })
        $.messager.confirm("提示", "确认删除选择项？", function (r) {
            if (r) {
                $("#DeleteCheck").val('on');//删除checkbox选中
                $('#EDelBtn').linkbutton('disable');//删除不按钮可用
                Submit();//执行
            }
        })
    }
    function Submit() {
        if ($("#dataform").form('validate')) {
            $.ajax({
                url: "/Page/P01011/UpdateEduData",
                type: "post",
                data: $("#dataform").serialize(),
                dataType: "json",
                success: function (result) {
                    if (result.HasError) {
                        showError(result.ErrorMessage);
                        if (result.ErrorMessage == '新增成功！' || result.ErrorMessage == '更新成功！' || result.ErrorMessage == '删除成功！') {
                            $('#datagrid1').datagrid('reload');
                            cancleClickRow();
                        }
                    }
                    else {
                    }
                },
                error: function (d, error) {
                    showError(error);
                }
            });
        }
    }
</script>

<style>
    .edit-panel3 {
        padding: 5px 0px;
        margin-top: 5px;
        width: 530px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<div class="edit-dialog1" style="width:790px">
    <form method="post" id="dataform" class="form-dialog">
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">申请者：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox " value="@getParameter("EmployeeName")" readonly="readonly" />
                    <input value="@getParameter("EmployeeID")" type="hidden" name="EmployeeID" />
                    <input value="@getParameter("DeptID")" type="hidden" name="DeptID" />
                    <input value="@getParameter("CompanyID")" type="hidden" name="CompanyID" />
                    <input value="@getParameter("JobID")" type="hidden" name="JobID" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">申请日期：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox" name="ApplicationDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">提成月份：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-datebox" name="CommissionYM" data-options="formatter: function (date) { return date.getFullYear() + '-' + (date.getMonth() + 1) },
                           parser: function (s) {if(s!=''){ s += '-01';return new Date(s.replace(/-/g, '/'))}else{return new Date();}}" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">提成总额：</label></div>
                <div class="edit-content">
                    <input class="edit-input easyui-textbox" value="0" name="TotalAmount" readonly="readonly" />
                </div>
            </div>
        </div>
    </form>
    <div class="edit-panel3" style="height:110px;width:650px;margin-left:80px">
        <table id="dgCommissionOrder" style="height: 110px; width: 650px;" class="easyui-datagrid" data-options="url:'',fitColumns:true,fit:true,">
            <thead>
                <tr>
                    <th data-options="field:'AutoKey',checkbox:true"></th>
                    <th data-options="field:'IsOrder',fixed:true,">是否下单</th>
                    <th data-options="field:'Customer',fixed:true,">客户名称</th>
                    <th data-options="field:'OrderID',fixed:true,">订单编号</th>
                    <th data-options="field:'ContractAmount',fixed:true,">合同金额</th>
                    <th data-options="field:'AccountAmount',fixed:true,">到账金额</th>
                    <th data-options="field:'CommissionRole',fixed:true,">提成角色</th>
                    <th data-options="field:'CommissionType',fixed:true,">提成类别</th>
                    <th data-options="field:'CommissionScale',fixed:true,">提成比例</th>
                    <th data-options="field:'Amount',fixed:true,">提成金额</th>
                </tr>
            </thead>
        </table>
    </div>
    <a class="easyui-linkbutton edit-button" style="margin-left:70px" data-options="iconCls:'icon-add'" href="javascript:void(0)" onclick="addClick()">新增</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel',disabled:true" onclick="delClick()" id="EDelBtn">删除</a>

    <form id="detailForm">
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"></div>
                <div class="edit-content">
                    <input id="IsOrder" type="checkbox" name="IsOrder" value="1" /><label for="IsOrder">是否下单</label>
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">客户名称：</label></div>
                <div class="edit-content">
                    <input id="CustomerID" class="edit-input easyui-combobox" name="CustomerID" 
                           data-options="required:true,url:'/Page/P01103/QueryMyCustomerSimple',valueField:'CustomerID',textField:'CustomerName',editable:false,panelHeight:'auto'" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">订单编号：</label></div>
                <div class="edit-content">
                    <input id="OrderID" class="edit-input easyui-combobox " name="OrderID"
                           data-options="required:true,url:'/Page/P01103/GetOrderForCommission?CommissionTypeID=&CommissionRoleID=',valueField:'OrderID',textField:'OrderID',editable:false,panelHeight:'auto'" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">订单状态：</label></div>
                <div class="edit-content">
                    <input id="OrderState" class="edit-input easyui-combobox " name="OrderState" data-options="url:'/Share/GetSystemCodes?code=C079',valueField:'Name',textField:'Name',missingMessage:'请选择订单状态',required:true,editable:false,panelHeight:'auto'" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">合同金额：</label></div>
                <div class="edit-content">
                    <input id="ContractAmount" class="edit-input easyui-numberbox " name="ContractAmount" data-options="min:0,precision:2,required:true,missingMessage:'请填写合同金额'" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">到账金额：</label></div>
                <div class="edit-content">
                    <input id="AccountAmount" class="edit-input easyui-numberbox" name="AccountAmount" data-options="min:0,precision:2,required:true,missingMessage:'请填写到账金额'" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">提成角色：</label></div>
                <div class="edit-content">
                    <input id="CommissionRoleID" class="edit-input easyui-combobox " name="CommissionRoleID" data-options="missingMessage:'请选择提成角色',required:true,editable:false" />
                </div>
            </div>
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">提成类别：</label></div>
                <div class="edit-content">
                    <input id="CommissionTypeID" class="edit-input easyui-combobox " name="CommissionTypeID" data-options="missingMessage:'请选择提成类别',required:true,editable:false" />
                </div>
            </div>
        </div>
        <div class="edit-panel3">
            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">提成比例：</label></div>
                <div class="edit-content">
                    <input id="CommissionScale" class="edit-input easyui-textbox " name="CommissionScale" data-options="required:true,missingMessage:'请填写提成比例'" />
                </div>
            </div>

            <div class="edit-field1">
                <div class="edit-title1"><label class="edit-label1">提成金额：</label></div>
                <div class="edit-content">
                    <input id="CommissionAmount" class="edit-input easyui-numberbox" name="CommissionAmount" data-options="min:0,precision:2,required:true,missingMessage:'请填写提成金额'" />
                </div>
            </div>
        </div>
    </form>
    <div class="edit-panel3">
        <div class="edit-field1">
            <div class="showmsg"><label id="showmsg"></label></div>
        </div>
    </div>
</div>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="Submit()">确定</a>
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>

