@model Panasia.Core.Auth.UserAuthModel
@using Panasia.Core

<script type="text/javascript">
    function submitAct_UserRole1(data,url)
    {
        var roles = data.Roles;
        for(var i=0;i<roles.length;i++)
        {
            var roleIDs=[];
            $("input[name='"+data.UserID+"']:checked").each(function(){
                roleIDs.push($(this).val());
            })
        }
        if (roleIDs == "")
        {
            showError("请选择用户角色");
            return false;
        }
        var obj = { UserID: data.UserID, Roles: roleIDs };

        $.ajax({
            url:url,
            type:"post",
            data:obj,
            success:function(msg)
            {
                var  data=$.parseJSON(msg);
                if (!data.HasError) {
                    cancel();
                    $.messager.alert("提示", "角色修改成功");
                    funcForUpdate("datagrid", data, "userRoleForm")
                    $("#datagrid").datagrid('reload');
                }
                else {
                    showError(data.Error);
                }
            },
            error:function(xmlhttprequest,text,error) {
                showError(error);
            }
        });
    }

</script>

<form method="post" id="userRoleForm" class="form-dialog">
    <div class="edit-dialog">
        <table class="grid" style="width:900px;">
            <tr>
              
                <th>角色:</th>
                <td>
                    <input class="input-dialog" name="RoleID" type="hidden" />
                    <div style="width:810px">
                        @for (var i = 0; i < @Model.Roles.Count; i++)
                        {
                            if (i % 3 == 0&&i!=0)
                            {
                                <br/>
                                <hr>
                            }
                            <div style="width:270px;float:left">
                                @if (@Model.Roles[i].IsSelected)
                                {
                                    var ischecked = "checked='checked'";
                                    <input type='checkbox' class='checkbox' value="@Model.Roles[i].RoleID" name="@Model.UserID" @ischecked />
                                }
                                else
                                {
                                    <input type='checkbox' class='checkbox' value="@Model.Roles[i].RoleID" name="@Model.UserID" />
                                }
                                <span >@Model.Roles[i].Name</span>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>
        <div class="edit-field">
            <div class="showmsg"><label id="showmsg"></label></div>
        </div>
    </div>
</form>
<div class="dialog-button">
    <a class="easyui-linkbutton btn-padding" data-options="iconCls:'icon-ok'" onclick="submitAct_UserRole1(@Model.ToJson(),'/User/UpdateUserRole')">确定</a>
    <a class="easyui-linkbutton btn-padding" data-options="iconCls:'icon-cancel'" onclick="cancel()">取消</a>
</div>
