@{
    var item = Model.Parameters["Data"];
}
<form id="dataform" class="form-dialog" method="post">
    <div class="edit-dialog">
        <div class="edit-panel-w2">
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">规则名称：</label>
                </div>
                <div class="edit-content">
                    <input name="RName" value="@item["RName"]" readonly="readonly" class="edit-input easyui-textbox" />
                </div>
            </div>
            <div class="edit-field">
                <div class="edit-title">
                    <label class="edit-label">公司名称：</label>
                </div>
                <div class="edit-content">
                    <input name="CompanyName" value="@item["CompanyName"]" readonly="readonly" class="edit-input easyui-textbox" />
                </div>
            </div>
            <div class="edit-field-w2">
                <div class="edit-title">
                    <label class="edit-label">备注：</label>
                </div>
                <div class="edit-content-w2">
                    <input name="Remark" value="@item["Remark"]" readonly="readonly" class="edit-input-w2 easyui-textbox" data-options="multiline:true" style="height:90px" />
                </div>
            </div>
            <div class="edit-field-w2-r1">
                <div class="easyui-panel" title="迟到早退规则" style="width:540px;">
                    <div class="edit-field-w2">
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px">
                                <label class="edit-label">迟到：上班后</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:10px">
                                <input name="MinutesLate" value="@item["MinutesLate"]" readonly="readonly" class="easyui-numberbox" style="width:30px;" />
                                <label class="edit-label2">分钟内无故不到岗者。</label>
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px">
                                <label class="edit-label">迟到</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:10px">
                                <input name="IgnoreMinutesLate" value="@item["IgnoreMinutesLate"]" readonly="readonly" class="easyui-numberbox" style="width:30px;" />
                                <label class="edit-label2">分钟内不计</label>
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:40px">
                                <label class="edit-label">早退：下班前</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:10px">
                                <input name="MinutesEarlyleave" value="@item["MinutesEarlyleave"]" readonly="readonly" class="easyui-numberbox" style="width:30px;" />
                                <label class="edit-label2">分钟内无故离岗者。</label>
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px">
                                <label class="edit-label">早退</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:10px">
                                <input name="IgnoreMinutesEarlyleave" value="@item["IgnoreMinutesEarlyleave"]" readonly="readonly" class="easyui-numberbox" style="width:30px;" />
                                <label class="edit-label2">分钟内不计</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-field-w2-r1">
                <div class="easyui-panel" title="加班规则设定" style="width:540px;">
                    <div class="edit-field-w2" style="height:60px !important">
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px">
                                <label class="edit-label">最低加班分钟：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:20px">
                                <input name="MinOverTimeMinutes" value="@item["MinOverTimeMinutes"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">分钟</label>
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px">
                                <label class="edit-label">最小计算分钟：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:20px">
                                <input name="RealCalculateMinutes" value="@item["RealCalculateMinutes"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">分钟</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-field-w2-r1">
                <div class="easyui-panel" title="旷工规则设定" style="width:540px;">
                    <div class="edit-field-w2">
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:20px">
                                <label class="edit-label">擅自离岗：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:5px">
                                <input name="MinutesAbsent" value="@item["MinutesAbsent"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">分钟以上</label>
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">最小旷工时数：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:10px">
                                <input name="MinAbsentHours" value="@item["MinAbsentHours"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">小时</label>
                            </div>
                        </div>

                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px">
                                <label class="edit-label">最大旷工时数：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;padding-left:10px">
                                <input name="MaxAbsentHours" value="@item["MaxAbsentHours"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left"  />
                                <label class="edit-label2">小时</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-field-w2-r1">
                <div class="easyui-panel" title="打卡规则设定" style="width:540px;">
                    <div class="edit-field-w2" style="height:60px !important">
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px;width:98px !important">
                                <label class="edit-label">每月允许漏打卡：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;">
                                <input name="MaxForgetCardTimes" value="@item["MaxForgetCardTimes"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">次</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-field-w2-r1">
                <div class="easyui-panel" title="自动离职规则设定" style="width:540px;">
                    <div class="edit-field-w2" style="height:60px !important">
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:30px;width:98px !important">
                                <label class="edit-label">当月最大旷工：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;">
                                <input name="AutoFiredDays" value="@item["AutoFiredDays"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">天</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-field-w2-r1">
                <div class="easyui-panel" title="考勤截止日期设定" style="width:540px;">
                    <div class="edit-field-w2" style="height:60px !important">
                        <div class="edit-field">
                            <div class="edit-title" style="padding-left:10px;">
                                <label class="edit-label">每个月：</label>
                            </div>
                            <div class="edit-content" style="width:108px !important;">
                                <input name="MonthClosingDay" value="@item["MonthClosingDay"]" readonly="readonly" class="easyui-numberbox" style="width:30px;float:left" />
                                <label class="edit-label2">号</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-field">
                <div class="showmsg">
                    <label id="showmsg"></label>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="toolbar" class="dialog-button">
    <a id="btn-cancel" class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭</a>
</div>