@{
    var item = Model.Parameters["Data"];
}

<form method="post" id="dataform" class="form-dialog">
                     
                <div class="edit-dialog1">

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">系列号：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["RID"]"  readonly="readonly"  name="RID" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">姓名：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Name"]"  readonly="readonly" name="Name" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">性别：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Sex"]"  readonly="readonly" name="Sex" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">婚姻状况：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["MaritalStatus"]"  readonly="readonly" name="MaritalStatus" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">应聘职位：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Position"]"  readonly="readonly" name="Position" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">工作年限：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["YearsOfWorking"]"  readonly="readonly" name="YearsOfWorking" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">期望薪水：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["SalaryExpected"]"  readonly="readonly" name="SalaryExpected" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">投递时间：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["CV_GetTime"]"  readonly="readonly" name="CV_GetTime" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">移动电话：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["MobilePhone"]"  readonly="readonly" name="MobilePhone" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">电子邮箱：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Email"]"  readonly="readonly" name="Email" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">通讯地址：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Address"]"  readonly="readonly" name="Address" style="width:434px;" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">学校名称：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["School"]"  readonly="readonly" name="School" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">专业名称：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Professional"]"  readonly="readonly" name="Professional" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">最高学历：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Degree"]"  readonly="readonly" name="Degree" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">政治面貌：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["PoliticsStatus"]"  readonly="readonly" name="PoliticsStatus" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">出生日期：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["BirthDate"]"  readonly="readonly" name="BirthDate" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">户口：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["HuKou"]"  readonly="readonly" name="HuKou" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">现居地：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["CurrentResidency"]"  readonly="readonly" name="CurrentResidency" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">上家公司：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["LastCompant"]"  readonly="readonly" name="LastCompant" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">求职状态：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["CurrentSituation"]"  readonly="readonly" name="CurrentSituation" style="width:434px;" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">期望性质：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["TypeOfEmployment"]"  readonly="readonly" name="TypeOfEmployment" /></div>
                        </div>

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">期望地区：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["WorkingPlaceExpected"]"  readonly="readonly" name="WorkingPlaceExpected" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">期望行业：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["IndustryExpected"]"  readonly="readonly" name="IndustryExpected" style="width:434px;" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">期望职业：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["JobFunctionExpected"]"  readonly="readonly" name="JobFunctionExpected" style="width:434px;" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2" style="height:45px">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">工作经验：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["WorkingExperience"]"  readonly="readonly" name="WorkingExperience" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">项目经验：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["ProjectExperience"]"  readonly="readonly" name="ProjectExperience" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2" style="height:45px">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">教育经历：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Education"]"  readonly="readonly" name="Education" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">培训经历：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Training"]"  readonly="readonly" name="Training" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2" style="height:45px">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">学习情况：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["GraduatesInfo"]"  readonly="readonly" name="GraduatesInfo" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">社会实践：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["SocialEvents"]"  readonly="readonly" name="SocialEvents" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2" style="height:45px">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">所获证书：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Certifications"]"  readonly="readonly" name="Certifications" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">语言能力：</label></div>
                            <div class="edit-content"> <input class="edit-input easyui-textbox " value="@item["Language"]"  readonly="readonly" name="Language" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                    </div>

                    <div class="edit-panel2" style="height:45px">

                        <div class="edit-field1">
                            <div class="edit-title1"><label class="edit-label1">专业技能：</label></div>
                            <div class="edit-content-r2"> <input class="edit-input easyui-textbox " value="@item["ProfessionalSkill"]"  readonly="readonly" name="ProfessionalSkill" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                        <div class="edit-field1 margin-left">
                            <div class="edit-title1"><label class="edit-label1">自我评价：</label></div>
                            <div class="edit-content-r2"> <input class="edit-input easyui-textbox " value="@item["SelfAssessment"]"  readonly="readonly" name="SelfAssessment" style="width:434px; height:52px" data-options="multiline:true" /></div>
                        </div>

                    </div>
                    <div class="edit-field1">
                        <div class="showmsg"><label id="showmsg"></label></div>
                    </div>

                </div>
    </form>
<div class="dialog-button">
    <a class="easyui-linkbutton edit-button" data-options="iconCls:'icon-cancel'" onclick="cancel()">关闭</a>
</div>