@functions{
    public string getParameter(string name)
    {
        var value = Model.Parameters[name];
        return value;
    }
}

<div title="" class="panel-body panel-body-noborder window-body">
    <style type="text/css">
        .edit-panel {
            width: auto;
        }

        .edit-field-right {
            width: 280px;
        }

        .edit-title-right {
            width: 90px;
        }

        .edit-label-right {
            width: 90px;
        }

        .edit-content-r2 {
            width: 460px;
        }

        .edit-field-r2 {
            width: 560px;
        }

        .edit-input-r2 {
            width: 460px;
        }
    </style>
    <script type="text/javascript">
        var IsModify = 0;
        var ExpenditureID = "0";
        var IsDetail = false;
    </script>
    <script type="text/javascript" src="/Scripts/expenditure.js"></script>
    <script type="text/javascript">
        function GenerateString() {
            var dgID = "";
            if ($("#PaymentID").combobox("getValue") == "C07203")//退款
            {
                dgID = "dgReOrderProduct";
            }
            else if ($("#PaymentID").combobox("getValue") == "C07205")//返佣业务代付款
            {
                dgID = "dgCommissionOrder";
            }

            if (dgID != "") {
                var data = $("#" + dgID).datagrid("getData");

                var OrderID_Set = "|";
                var ProductID_Set = "|";
                for (var i = 0; i < data.total; i++) {
                    OrderID_Set += (i + 1) + "," + data.rows[i].OrderID + "|";
                    ProductID_Set += (i + 1) + "," + data.rows[i].ProductID + "|";
                }
                $("#OrderID_Set").val(OrderID_Set);
                $("#ProductID_Set").val(ProductID_Set);

                TotalAmount();
            }
        }

        function TotalAmount() {
            var dgID = "";
            if ($("#PaymentID").combobox("getValue") == "C07203")//退款
            {
                dgID = "dgReOrderProduct";
            }
            else if ($("#PaymentID").combobox("getValue") == "C07205")//返佣业务代付款
            {
                dgID = "dgCommissionOrder";
            }
            if (dgID != "") {
                var selectedRows = $("#" + dgID).datagrid("getSelections");
                var totalAmount = 0;
                for (var i = 0; i < selectedRows.length; i++) {
                    totalAmount += parseFloat(selectedRows[i].Amount);
                }

                $("#ExpenditureMoney").numberbox("setValue", totalAmount.toFixed(2));
            }
        }

        function InitDetail() {
            $("#OrderID_Set").val("");
            $("#ProductID_Set").val("");
            $("#dynamicArea").html("");
        }
    </script>
    <div>
        <div class="form-dialog" style="width:620px;">
            <div class="edit-dialog">
                <div class="edit-panel">
                    <form id="dataform" class="form-dialog" method="post">
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    部门：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input name="DeptName" class="edit-input easyui-textbox" disabled="disabled" value="@getParameter("CompanyName") - @getParameter("DeptName")" />
                                <input type="hidden" name="ApplyDeptID" value="@getParameter("DeptID")" />
                                <input type="hidden" name="CompanyID" value="@getParameter("CompanyID")" />
                            </div>
                        </div>
                        <div class="edit-field edit-field-right">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    申请日期：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" disabled="disabled" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                <input name="ExpenditureDate" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    申请人：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input name="EmployeeName" class="edit-input easyui-textbox" disabled="disabled" value="@getParameter("EmployeeName")" />
                                <input type="hidden" name="ApplyEmployeeID" value="@getParameter("EmployeeID")" />
                            </div>
                        </div>
                        <div class="edit-field edit-field-right">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    计划付款日期：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-datebox" name="PayPlanDate" data-options="required:true,missingMessage:'请输入计划报销日期'" />
                                <script type="text/javascript">
                                    $("[name='PayPlanDate']").datebox().datebox('calendar').calendar({
                                        validator: function (date) {
                                            var now = new Date();
                                            return date >= new Date(now.getFullYear(), now.getMonth(), now.getDate());
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="edit-field edit-field-right">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    付款类型：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input" id="PaymentID" name="PaymentID" panelheight="auto">
                                <script type="text/javascript">
                                    $("#PaymentID").combobox({
                                        editable: false,
                                        required: true,
                                        missingMessage: '请选择付款类型',
                                        //panelheight: 'auto',
                                        url: '/Share/GetSystemCodes?code=C072',
                                        valueField: 'Code',
                                        textField: 'Name',
                                        onSelect: function (data) {
                                            $("#dynamicArea").html(paymentDefine[data.Code]);
                                            if (data.Code == "C07203" || data.Code == "C07205") {
                                                $("#ExpenditureMoney").numberbox({ readonly: true, required: false });
                                                $("#ExpenditureMoney").numberbox("setValue", "0");
                                            }
                                            else {
                                                $("#ExpenditureMoney").numberbox({ readonly: false, required: true });
                                                $("#ExpenditureMoney").numberbox("setValue", "");
                                            }
                                            $("[name='PaymentName']").val(data.Name);
                                            $.parser.parse($("#dynamicArea"));
                                        }
                                    });
                                </script>
                                <input type="hidden" name="PaymentName" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    付款金额：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input id="ExpenditureMoney" class="edit-input easyui-numberbox" data-options="precision:2,required:true,missingMessage:'付款金额必须填写',validType:'decimalRange[\'>0\']',invalidMessage:'付款金额必须大于0'" name="ExpenditureMoney" />
                            </div>
                        </div>
                        <div id="dynamicArea">

                        </div>
                        <div class="edit-field-r2">
                            <div class="edit-title">
                                <label class="edit-label">
                                    备注：
                                </label>
                            </div>
                            <div class="edit-content-r2">
                                <input class="edit-input-r2 easyui-textbox easyui-validatebox" name="Remark" data-options="multiline:true,validType:'length[1,500]',invalidMessage:'不得超过500个字符'" style="height:80px;" />
                                <input type="hidden" id="OrderID_Set" name="OrderID_Set" />
                                <input type="hidden" id="ProductID_Set" name="ProductID_Set" />
                            </div>
                        </div>
                    </form>
                    <div class="edit-field">
                        <div class="showmsg">
                            <label id="showmsg">
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="dialog-button">
            <a class="edit-button easyui-linkbutton" href="#" onclick="GenerateString(); submitAct_DGAppend('dataform', '/Page/P01041/Add', 'datagrid'); InitDetail();" data-options="iconCls:'icon-ok'">确定</a>
            <a class="edit-button easyui-linkbutton" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">取消</a>
        </div>
    </div>
</div>