@{
    var item = Model.Parameters["Data"];
}

@functions{
    public string getParameter(string name)
    {
        var value = Model.Parameters[name];
        return value;
    }
}

<div title="" class="panel-body panel-body-noborder window-body">
    <style type="text/css">
        .edit-panel {
            width: auto;
        }

        .edit-field-right {
            width: 280px;
        }

        .edit-title-right {
            width: 90px;
        }

        .edit-label-right {
            width: 90px;
        }

        .edit-content-r2 {
            width: 460px;
        }

        .edit-field-r2 {
            width: 560px;
        }

        .edit-input-r2 {
            width: 460px;
        }
    </style>
    <script type="text/javascript">
        var IsModify = 1;
        var IsDetail = true;
        var ExpenditureID = "@item["ExpenditureID"]";
        var PaymentID = "@item["PaymentID"]";
        var jsonData = @Raw(getParameter("JsonData"));
        var orderData = @Raw(getParameter("OrderData"));
    </script>
    <script type="text/javascript" src="/Scripts/expenditure.js"></script>
    <script type="text/javascript">
        function BindSelectedOrder(dgID) {
            var Rows = $("#" + dgID).datagrid("getRows");
            for (var i = 0; i < Rows.length; i++) {
                for (var j = 0; j < orderData.length; j++) {
                    if (orderData[j].OrderID == Rows[i].OrderID && orderData[j].ProductID == Rows[i].ProductID) {
                        $("#" + dgID).datagrid("selectRow", i);
                    }
                }
            }
        }
    </script>
    <div>
        <div class="form-dialog" style="width:620px;">
            <div class="edit-dialog">
                <div class="edit-panel">
                    <form id="dataform" class="form-dialog" method="post">
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    部门：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input name="DeptName" class="edit-input easyui-textbox" readonly="readonly" value="@item["Dept"]" />
                            </div>
                        </div>
                        <div class="edit-field edit-field-right">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    申请日期：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" readonly="readonly" value="@Convert.ToDateTime(item["ExpenditureDate"]).ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    申请人：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input name="EmployeeName" class="edit-input easyui-textbox" readonly="readonly" value="@item["ApplyEmployeeName"]" />
                            </div>
                        </div>
                        <div class="edit-field edit-field-right">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    计划付款日期：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input easyui-textbox" name="PayPlanDate" readonly="readonly" value="@Convert.ToDateTime(item["PayPlanDate"]).ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="edit-field">
                            <div class="edit-title">
                                <label class="edit-label">
                                    付款金额：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input id="ExpenditureMoney" class="edit-input easyui-numberbox" readonly="readonly" data-options="precision:2" name="ExpenditureMoney" value="@item["ExpenditureMoney"]" />
                            </div>
                        </div>
                        <div class="edit-field edit-field-right">
                            <div class="edit-title edit-title-right">
                                <label class="edit-label edit-label-right">
                                    付款类型：
                                </label>
                            </div>
                            <div class="edit-content">
                                <input class="edit-input" id="PaymentID" name="PaymentID" panelheight="auto" readonly="readonly">
                                <script type="text/javascript">
                                    $("#PaymentID").combobox({
                                        hasDownArrow:false,
                                        editable: false,
                                        //panelheight: 'auto',
                                        url: '/Share/GetSystemCodes?code=C072',
                                        valueField: 'Code',
                                        textField: 'Name',
                                        onSelect: function (data) {
                                            $("#dynamicArea").html(paymentDefine[data.Code]);
                                            $.parser.parse($("#dynamicArea"));
                                        },
                                        onLoadSuccess: function () {
                                            $(this).combobox("select", "@item["PaymentID"]");//select 事件会触发onSelect事件，setValue不会
                                        },
                                    });
                                </script>
                            </div>
                        </div>
                        <div id="dynamicArea">

                        </div>
                        <div class="edit-field-r2">
                            <div class="edit-title">
                                <label class="edit-label">
                                    备注：
                                </label>
                            </div>
                            <div class="edit-content-r2">
                                <input class="edit-input-r2 easyui-textbox easyui-validatebox" name="Remark" readonly="readonly" data-options="multiline:true" style="height:80px;" value="@item["Remark"]" />
                                <input type="hidden" id="OrderID_Set" name="OrderID_Set" />
                                <input type="hidden" id="ProductID_Set" name="ProductID_Set" />
                            </div>
                        </div>
                    </form>
                    <iframe tb="fl_Expenditure" id="af" onload="DynIframeSize('af')"></iframe>
                    <script type="text/javascript">
                        InitIFrame();
                    </script>
                    <div class="edit-field">
                        <div class="showmsg">
                            <label id="showmsg">
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="dialog-button">
            <a class="edit-button easyui-linkbutton" href="#" onclick="cancel()" data-options="iconCls:'icon-cancel'">取消</a>
        </div>
    </div>
</div>
